In [0]:
spark

In [0]:
flight_df = spark.read.format("csv")\
    .option("header","false").option("inferschema","false")\
        .option("mode","FAILFAST")\
            .load("/FileStore/tables/2010_summary.csv")
flight_df.show(5)

+-----------------+-------------------+-----+
|              _c0|                _c1|  _c2|
+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
|    United States|            Romania|    1|
|    United States|            Ireland|  264|
|    United States|              India|   69|
|            Egypt|      United States|   24|
+-----------------+-------------------+-----+
only showing top 5 rows

In [0]:
flight_header_df = spark.read.format("csv")\
    .option("header","true").option("inferschema","false")\
        .option("mode","FAILFAST")\
            .load("/FileStore/tables/2010_summary.csv")
flight_header_df.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|    1|
|    United States|            Ireland|  264|
|    United States|              India|   69|
|            Egypt|      United States|   24|
|Equatorial Guinea|      United States|    1|
+-----------------+-------------------+-----+
only showing top 5 rows

In [0]:
flight_header_df.printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: string (nullable = true)

In [0]:
flight_header_schema_df = spark.read.format("csv")\
    .option("header","true").option("inferschema","true")\
        .option("mode","FAILFAST")\
            .load("/FileStore/tables/2010_summary.csv")
flight_header_schema_df.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|    1|
|    United States|            Ireland|  264|
|    United States|              India|   69|
|            Egypt|      United States|   24|
|Equatorial Guinea|      United States|    1|
+-----------------+-------------------+-----+
only showing top 5 rows

In [0]:
flight_header_schema_df.printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: integer (nullable = true)

In [0]:
flight_define_shema_df = spark.read.format("csv")\
    .option("header","false").option("inferschema","false")\
        .option(my_schema)\
        .option("mode","FAILFAST")\
            .load("/FileStore/tables/2010_summary.csv")
flight_define_schema_df.show(5)

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
File <command-2929419749642601>:1
----> 1 flight_define_shema_df = spark.read.format("csv")\
      2     .option("header","false").option("inferschema","false")\
      3         .option(my_schema)\
      4         .option("mode","FAILFAST")\
      5             .load("/FileStore/tables/2010_summary.csv")
      6 flight_define_schema_df.show(5)

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

TypeError: option() missing 1 required positional argument: 'value'

In [0]:
from pyspark.sql.types import StructField,StructType,StringType,IntegerType

In [0]:
my_schema = StructType(
                       [
					    StructField("DEST_COUNTRY_NAME",StringType(),True),
						StructField("ORIGIN_COUNTRY_NAME",StringType(),True),
						StructField("count",IntegerType(),True)
						])

In [0]:
f_df = spark.read.format("csv")\
    .option("header","false")\
    .option("skipRows",1)\
    .option("inferschema","false")\
    .schema(my_schema)\
    .option("mode","PERMISSIVE")\
    .load("/FileStore/2010_summary.csv")

f_df.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|    1|
|    United States|            Ireland|  264|
|    United States|              India|   69|
|            Egypt|      United States|   24|
|Equatorial Guinea|      United States|    1|
+-----------------+-------------------+-----+
only showing top 5 rows

In [0]:
emp_p_df = spark.read.format("CSV")\
    .option("header","true")\
    .option("inferschema","true")\
    .option("mode","PERMISSIVE")\
    .load("/FileStore/emp.csv")

emp_p_df.show()

+---+--------+---+------+------------+--------+--------+
| id|    name|age|salary|     address| nominee|     _c6|
+---+--------+---+------+------------+--------+--------+
|  1|  Manish| 26| 75000|       bihar|nominee1|    null|
|  2|  Nikita| 23|100000|uttarpradesh|nominee2|    null|
|  3|  Pritam| 22|150000|   Bangalore|   India|nominee3|
|  4|Prantosh| 17|200000|     Kolkata|   India|nominee4|
|  5|  Vikash| 31|300000|        null|nominee5|    null|
+---+--------+---+------+------------+--------+--------+

In [0]:
emp_f_df = spark.read.format("CSV")\
    .option("header","true")\
    .option("inferschema","true")\
    .option("mode","FAILFAST")\
    .load("/FileStore/emp_df.csv")

emp_f_df.show()

+----------------------------------+
|id,name,age,salary,address,nominee|
+----------------------------------+
|              1,Manish,26,75000...|
|              2,Nikita,23,10000...|
|              3,Pritam,22,15000...|
|              4,Prantosh,17,200...|
|              5,Vikash,31,30000...|
+----------------------------------+

In [0]:
emp_schema = StructType([StructField("id",IntegerType(),True),
                         StructField("name",StringType(),True),
                         StructField("age",IntegerType(),True),
                         StructField("Salary",IntegerType(),True),
                         StructField("address",StringType(),True),
                         StructField("nominee",StringType(),True),
                        StructField("_corrupt_record",StringType(),True)])

In [0]:
emp_df = spark.read.format("csv")\
    .option("header","true")\
    .option("inferschema","true")\
    .option("mode","PERMISSIVE")\
    .schema(emp_schema)\
    .load("/FileStore/emp.csv")

emp_df.show()

+---+--------+---+------+------------+--------+--------------------+
| id|    name|age|Salary|     address| nominee|     _corrupt_record|
+---+--------+---+------+------------+--------+--------------------+
|  1|  Manish| 26| 75000|       bihar|nominee1|1,Manish,26,75000...|
|  2|  Nikita| 23|100000|uttarpradesh|nominee2|2,Nikita,23,10000...|
|  3|  Pritam| 22|150000|   Bangalore|   India|3,Pritam,22,15000...|
|  4|Prantosh| 17|200000|     Kolkata|   India|4,Prantosh,17,200...|
|  5|  Vikash| 31|300000|        null|nominee5|5,Vikash,31,30000...|
+---+--------+---+------+------------+--------+--------------------+

In [0]:
emp_df = spark.read.format("csv")\
    .option("header","true")\
    .option("inferschema","true")\
    .option("mode","PERMISSIVE")\
    .schema(emp_schema)\
    .load("/FileStore/emp.csv")

emp_df.show(truncate = False)

+---+--------+---+------+------------+--------+-------------------------------------------+
|id |name    |age|Salary|address     |nominee |_corrupt_record                            |
+---+--------+---+------+------------+--------+-------------------------------------------+
|1  |Manish  |26 |75000 |bihar       |nominee1|1,Manish,26,75000,bihar,nominee1,          |
|2  |Nikita  |23 |100000|uttarpradesh|nominee2|2,Nikita,23,100000,uttarpradesh,nominee2,  |
|3  |Pritam  |22 |150000|Bangalore   |India   |3,Pritam,22,150000,Bangalore,India,nominee3|
|4  |Prantosh|17 |200000|Kolkata     |India   |4,Prantosh,17,200000,Kolkata,India,nominee4|
|5  |Vikash  |31 |300000|null        |nominee5|5,Vikash,31,300000,,nominee5,              |
+---+--------+---+------+------------+--------+-------------------------------------------+

In [0]:
emp_df = spark.read.format("csv")\
    .option("header","true")\
    .option("inferschema","true")\
    .schema(emp_schema)\
    .option("badRecordsPath","/FileStore/tables/bad_recods")\
    .load("/FileStore/emp.csv")

emp_df.show(truncate = False)

+---+----+---+------+-------+-------+---------------+
|id |name|age|Salary|address|nominee|_corrupt_record|
+---+----+---+------+-------+-------+---------------+
+---+----+---+------+-------+-------+---------------+

In [0]:
%fs
ls 
dbfs:/FileStore/tables/bad_recods/20240410T165043/bad_records/

path,name,size,modificationTime
dbfs:/FileStore/tables/bad_recods/20240410T165043/bad_records/part-00000-5c197f75-4066-462f-b7f6-c8d15e3a0ed2,part-00000-5c197f75-4066-462f-b7f6-c8d15e3a0ed2,1098,1712767845000

In [0]:
bad_data_df = spark.read.format("json").load("/FileStore/tables/bad_recods/20240410T165043/bad_records/part-00000-5c197f75-4066-462f-b7f6-c8d15e3a0ed2")

bad_data_df.show(truncate = False)

+-----------------------+--------------------------------------------------------------------------------------------------------------------------------+-------------------------------------------+
|path                   |reason                                                                                                                          |record                                     |
+-----------------------+--------------------------------------------------------------------------------------------------------------------------------+-------------------------------------------+
|dbfs:/FileStore/emp.csv|org.apache.spark.SparkRuntimeException: [MALFORMED_CSV_RECORD] Malformed CSV record: 1,Manish,26,75000,bihar,nominee1,          |1,Manish,26,75000,bihar,nominee1,          |
|dbfs:/FileStore/emp.csv|org.apache.spark.SparkRuntimeException: [MALFORMED_CSV_RECORD] Malformed CSV record: 2,Nikita,23,100000,uttarpradesh,nominee2,  |2,Nikita,23,100000,uttarpradesh,nominee2,  |
|dbfs:/FileStore/emp.csv|org.apache.spark.SparkRuntimeException: [MALFORMED_CSV_RECORD] Malformed CSV record: 3,Pritam,22,150000,Bangalore,India,nominee3|3,Pritam,22,150000,Bangalore,India,nominee3|
|dbfs:/FileStore/emp.csv|org.apache.spark.SparkRuntimeException: [MALFORMED_CSV_RECORD] Malformed CSV record: 4,Prantosh,17,200000,Kolkata,India,nominee4|4,Prantosh,17,200000,Kolkata,India,nominee4|
|dbfs:/FileStore/emp.csv|org.apache.spark.SparkRuntimeException: [MALFORMED_CSV_RECORD] Malformed CSV record: 5,Vikash,31,300000,,nominee5,              |5,Vikash,31,300000,,nominee5,              |
+-----------------------+--------------------------------------------------------------------------------------------------------------------------------+-------------------------------------------+

In [0]:
%fs
ls /FileStore/spark/pratical/

path,name,size,modificationTime
dbfs:/FileStore/spark/pratical/10000Records.csv,10000Records.csv,2775309,1713163917000
dbfs:/FileStore/spark/pratical/Country_Code.xlsx,Country_Code.xlsx,8783,1712771647000
dbfs:/FileStore/spark/pratical/ETH_1H.csv,ETH_1H.csv,2675166,1713163920000
dbfs:/FileStore/spark/pratical/ETH_USD.csv,ETH_USD.csv,30306,1713163919000
dbfs:/FileStore/spark/pratical/Multi_line_correct.json,Multi_line_correct.json,622,1712769816000
dbfs:/FileStore/spark/pratical/Multi_line_incorrect.json,Multi_line_incorrect.json,1278,1712769816000
dbfs:/FileStore/spark/pratical/aadharpancarddata.csv,aadharpancarddata.csv,3276,1713163907000
dbfs:/FileStore/spark/pratical/bank_full.csv,bank_full.csv,4610348,1713163918000
dbfs:/FileStore/spark/pratical/corrupted_json.json,corrupted_json.json,438,1712769816000
dbfs:/FileStore/spark/pratical/date_differ_timezone.csv,date_differ_timezone.csv,5424,1713163917000
dbfs:/FileStore/spark/pratical/datemultiformat.csv,datemultiformat.csv,691,1713163918000
dbfs:/FileStore/spark/pratical/emp_details.csv,emp_details.csv,686,1712828417000
dbfs:/FileStore/spark/pratical/file1.json,file1.json,2198732,1712771658000
dbfs:/FileStore/spark/pratical/file2.json,file2.json,20006072,1712771670000
dbfs:/FileStore/spark/pratical/file3.json,file3.json,15610388,1712771670000
dbfs:/FileStore/spark/pratical/file4.json,file4.json,16427749,1712771684000
dbfs:/FileStore/spark/pratical/file5.json,file5.json,669503,1712771672000
dbfs:/FileStore/spark/pratical/flipkartdelivary.csv,flipkartdelivary.csv,1648,1713163919000
dbfs:/FileStore/spark/pratical/healthdata.csv,healthdata.csv,343,1713163920000
dbfs:/FileStore/spark/pratical/line_delimited_json.json,line_delimited_json.json,440,1712770674000
dbfs:/FileStore/spark/pratical/part_r_00000_1a9822ba_b8fb_4d8e_844a_ea30d0801b9e_gz.parquet,part_r_00000_1a9822ba_b8fb_4d8e_844a_ea30d0801b9e_gz.parquet,3921,1712821856000
dbfs:/FileStore/spark/pratical/single_file_json_with_extra_fields.json,single_file_json_with_extra_fields.json,470,1712769816000
dbfs:/FileStore/spark/pratical/tourist_Journey_data.csv,tourist_Journey_data.csv,7072,1713163920000
dbfs:/FileStore/spark/pratical/us_500.csv,us_500.csv,92320,1713163920000
dbfs:/FileStore/spark/pratical/world_bank.json,world_bank.json,2969043,1713163922000
dbfs:/FileStore/spark/pratical/zomato.csv,zomato.csv,2257316,1712771676000

In [0]:
spark.read.format("json")\
	.option("inferSchema","true")\
	.option("mode","PERMISSIVE")\
	.load("/FileStore/spark/pratical/line_delimited_json.json")\
	.show(truncate=False)

+---------------+----+--------+------+
|_corrupt_record|age |name    |salary|
+---------------+----+--------+------+
|null           |20  |Manish  |20000 |
|               |null|null    |null  |
|null           |25  |Nikita  |21000 |
|               |null|null    |null  |
|null           |16  |Pritam  |22000 |
|               |null|null    |null  |
|null           |35  |Prantosh|25000 |
|               |null|null    |null  |
|null           |67  |Vikash  |40000 |
+---------------+----+--------+------+

In [0]:
spark.read.format("json")\
	.option("inferSchema","true")\
	.option("mode","PERMISSIVE")\
	.load("/FileStore/spark/pratical/single_file_json_with_extra_fields.json"\
	.show(truncate=False)

  File <command-3197560269081128>:5
    .show(truncate=False)

^
SyntaxError: unexpected EOF while parsing

In [0]:
spark.read.format("json")\
	.option("inferSchema","true")\
	.option("mode","PERMISSIVE")\
    .option("multiline","true")\
	.load("/FileStore/spark/pratical/Multi_line_incorrect.json")\
	.show(truncate=False)

+---+------+------+
|age|name  |salary|
+---+------+------+
|20 |Manish|20000 |
+---+------+------+

In [0]:
spark.read.format("json")\
	.option("inferSchema","true")\
	.option("mode","PERMISSIVE")\
	.load("/FileStore/spark/pratical/corrupted_json.json")\
	.show()

+--------------------+----+--------+------+
|     _corrupt_record| age|    name|salary|
+--------------------+----+--------+------+
|                null|  20|  Manish| 20000|
|                    |null|    null|  null|
|                null|  25|  Nikita| 21000|
|                    |null|    null|  null|
|                null|  16|  Pritam| 22000|
|                    |null|    null|  null|
|                null|  35|Prantosh| 25000|
|                    |null|    null|  null|
| { " n a m e " : ...|null|    null|  null|
+--------------------+----+--------+------+

In [0]:
%fs
ls /FileStore/spark/pratical/

path,name,size,modificationTime
dbfs:/FileStore/spark/pratical/10000Records.csv,10000Records.csv,2775309,1713163917000
dbfs:/FileStore/spark/pratical/Country_Code.xlsx,Country_Code.xlsx,8783,1712771647000
dbfs:/FileStore/spark/pratical/ETH_1H.csv,ETH_1H.csv,2675166,1713163920000
dbfs:/FileStore/spark/pratical/ETH_USD.csv,ETH_USD.csv,30306,1713163919000
dbfs:/FileStore/spark/pratical/Multi_line_correct.json,Multi_line_correct.json,622,1712769816000
dbfs:/FileStore/spark/pratical/Multi_line_incorrect.json,Multi_line_incorrect.json,1278,1712769816000
dbfs:/FileStore/spark/pratical/aadharpancarddata.csv,aadharpancarddata.csv,3276,1713163907000
dbfs:/FileStore/spark/pratical/bank_full.csv,bank_full.csv,4610348,1713163918000
dbfs:/FileStore/spark/pratical/corrupted_json.json,corrupted_json.json,438,1712769816000
dbfs:/FileStore/spark/pratical/date_differ_timezone.csv,date_differ_timezone.csv,5424,1713163917000
dbfs:/FileStore/spark/pratical/datemultiformat.csv,datemultiformat.csv,691,1713163918000
dbfs:/FileStore/spark/pratical/emp_details.csv,emp_details.csv,686,1712828417000
dbfs:/FileStore/spark/pratical/file1.json,file1.json,2198732,1712771658000
dbfs:/FileStore/spark/pratical/file2.json,file2.json,20006072,1712771670000
dbfs:/FileStore/spark/pratical/file3.json,file3.json,15610388,1712771670000
dbfs:/FileStore/spark/pratical/file4.json,file4.json,16427749,1712771684000
dbfs:/FileStore/spark/pratical/file5.json,file5.json,669503,1712771672000
dbfs:/FileStore/spark/pratical/flipkartdelivary.csv,flipkartdelivary.csv,1648,1713163919000
dbfs:/FileStore/spark/pratical/healthdata.csv,healthdata.csv,343,1713163920000
dbfs:/FileStore/spark/pratical/line_delimited_json.json,line_delimited_json.json,440,1712770674000
dbfs:/FileStore/spark/pratical/part_r_00000_1a9822ba_b8fb_4d8e_844a_ea30d0801b9e_gz.parquet,part_r_00000_1a9822ba_b8fb_4d8e_844a_ea30d0801b9e_gz.parquet,3921,1712821856000
dbfs:/FileStore/spark/pratical/single_file_json_with_extra_fields.json,single_file_json_with_extra_fields.json,470,1712769816000
dbfs:/FileStore/spark/pratical/tourist_Journey_data.csv,tourist_Journey_data.csv,7072,1713163920000
dbfs:/FileStore/spark/pratical/us_500.csv,us_500.csv,92320,1713163920000
dbfs:/FileStore/spark/pratical/world_bank.json,world_bank.json,2969043,1713163922000
dbfs:/FileStore/spark/pratical/zomato.csv,zomato.csv,2257316,1712771676000

In [0]:
spark.read.format("json")\
	.option("inferSchema","true")\
	.option("mode","PERMISSIVE")\
	.load("/FileStore/spark/pratical/file5.json")\
	.printSchema()

root
 |-- code: long (nullable = true)
 |-- message: string (nullable = true)
 |-- restaurants: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- restaurant: struct (nullable = true)
 |    |    |    |-- R: struct (nullable = true)
 |    |    |    |    |-- res_id: long (nullable = true)
 |    |    |    |-- apikey: string (nullable = true)
 |    |    |    |-- average_cost_for_two: long (nullable = true)
 |    |    |    |-- cuisines: string (nullable = true)
 |    |    |    |-- currency: string (nullable = true)
 |    |    |    |-- deeplink: string (nullable = true)
 |    |    |    |-- establishment_types: array (nullable = true)
 |    |    |    |    |-- element: string (containsNull = true)
 |    |    |    |-- events_url: string (nullable = true)
 |    |    |    |-- featured_image: string (nullable = true)
 |    |    |    |-- has_online_delivery: long (nullable = true)
 |    |    |    |-- has_table_booking: long (nullable = true)
 |    |    |    |-- id: string (nullable = true)
 |    |    |    |-- is_delivering_now: long (nullable = true)
 |    |    |    |-- location: struct (nullable = true)
 |    |    |    |    |-- address: string (nullable = true)
 |    |    |    |    |-- city: string (nullable = true)
 |    |    |    |    |-- city_id: long (nullable = true)
 |    |    |    |    |-- country_id: long (nullable = true)
 |    |    |    |    |-- latitude: string (nullable = true)
 |    |    |    |    |-- locality: string (nullable = true)
 |    |    |    |    |-- locality_verbose: string (nullable = true)
 |    |    |    |    |-- longitude: string (nullable = true)
 |    |    |    |    |-- zipcode: string (nullable = true)
 |    |    |    |-- menu_url: string (nullable = true)
 |    |    |    |-- name: string (nullable = true)
 |    |    |    |-- offers: array (nullable = true)
 |    |    |    |    |-- element: string (containsNull = true)
 |    |    |    |-- photos_url: string (nullable = true)
 |    |    |    |-- price_range: long (nullable = true)
 |    |    |    |-- switch_to_order_menu: long (nullable = true)
 |    |    |    |-- thumb: string (nullable = true)
 |    |    |    |-- url: string (nullable = true)
 |    |    |    |-- user_rating: struct (nullable = true)
 |    |    |    |    |-- aggregate_rating: string (nullable = true)
 |    |    |    |    |-- rating_color: string (nullable = true)
 |    |    |    |    |-- rating_text: string (nullable = true)
 |    |    |    |    |-- votes: string (nullable = true)
 |-- results_found: long (nullable = true)
 |-- results_shown: long (nullable = true)
 |-- results_start: string (nullable = true)
 |-- status: string (nullable = true)

In [0]:
df = spark.read.parquet("/FileStore/spark/pratical/part_r_00000_1a9822ba_b8fb_4d8e_844a_ea30d0801b9e_gz.parquet")

df.show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|    1|
|       United States|            Ireland|  264|
|       United States|              India|   69|
|               Egypt|      United States|   24|
|   Equatorial Guinea|      United States|    1|
|       United States|          Singapore|   25|
|       United States|            Grenada|   54|
|          Costa Rica|      United States|  477|
|             Senegal|      United States|   29|
|       United States|   Marshall Islands|   44|
|              Guyana|      United States|   17|
|       United States|       Sint Maarten|   53|
|               Malta|      United States|    1|
|             Bolivia|      United States|   46|
|            Anguilla|      United States|   21|
|Turks and Caicos ...|      United States|  136|
|       United States|        Afghanistan|    2|
|Saint Vincent and...|      United States|    1|
|               Italy|      United States|  390|
|       United States|             Russia|  156|
+--------------------+-------------------+-----+
only showing top 20 rows

In [0]:
%fs 
head(/FileStore/spark/pratical/part_r_00000_1a9822ba_b8fb_4d8e_844a_ea30d0801b9e_gz.parquet)

In [0]:
spark.read.format("json")\
	.option("inferSchema","true")\
	.load("/FileStore/spark/pratical/emp_details.csv").show()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-3928136799334599>:1
----> 1 spark.read.format("json")\
      2 	.option("inferSchema","true")\
      3 	.load("/FileStore/spark/pratical/emp_details.csv").show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:920, in DataFrame.show(self, n, truncate, vertical)
    914     raise PySparkTypeError(
    915         error_class="NOT_A_BOOLEAN",
    916         message_parameters={"arg_name": "vertical", "arg_type": type(vertical).__name__},
    917     )
    919 if isinstance(truncate, bool) and truncate:
--> 920     print(self._jdf.showString(n, 20, vertical))
    921 else:
    922     try:

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: Since Spark 2.3, the queries from raw JSON/CSV files are disallowed when the
referenced columns only include the internal corrupt record column
(named _corrupt_record by default). For example:
spark.read.schema(schema).csv(file).filter($"_corrupt_record".isNotNull).count()
and spark.read.schema(schema).csv(file).select("_corrupt_record").show().
Instead, you can cache or save the parsed results and then send the same query.
For example, val df = spark.read.schema(schema).csv(file).cache() and then
df.filter($"_corrupt_record".isNotNull).count().

In [0]:
df= spark.read.format("csv")\
	.option("inferSchema","true")\
    .option("header","true")\
	.option("mode","PERMISSIVE")\
	.load("/FileStore/spark/pratical/aadharpancarddata.csv")\
	.show()

+-------------+----+----------------+----------+--------------------+-------+
|         Name| Age|AadharCardNumber|   PANCard|               Email| Salary|
+-------------+----+----------------+----------+--------------------+-------+
|   Ravi Kumar|34.0|  5218 4556 7865|ANXPK2905P|ravi.kumar@gmail.com|65000.0|
| Kiran Sharma|26.0|  6792 0987 6543|BYDPL6721T|kiran.sharma@yaho...|45000.0|
| Sanjay Patel|45.0|  8456 3214 9876|AZVPP2987R|sanjay.patel@hotm...|85000.0|
|  Anita Singh|31.0|  7532 8416 2739|DKPAS1234E|anita.singh@gmail...|55000.0|
| Vikram Sethi|29.0|  4583 2963 7102|BEDJS7502T|vikram.sethi@hotm...|50000.0|
|  Priya Mehta|27.0|  5624 3098 6710|AHBPM8435L|priya.mehta@yahoo...|48000.0|
| Rajesh Verma|42.0|  7631 2406 9028|CYPKV1263F|rajesh.verma@gmai...|75000.0|
|   Amit Kumar|35.0|  6130 6795 2785|DVKSS0896H|amit.kumar@hotmai...|68000.0|
| Pooja Sharma|28.0|  1985 7610 2431|AGKPS7521F|pooja.sharma@gmai...|52000.0|
|   Neha Gupta|33.0|  2841 0376 5619|ECQPL6742T|neha.gupta@yahoo.com|62000.0|
|Sandeep Singh|37.0|  6154 2897 0734|BSXPD4261R|sandeep.singh@hot...|72000.0|
|Kavita Sharma|29.0|  8734 0695 4321|CYQDS2742F|kavita.sharma@gma...|50000.0|
|  Mohit Gupta|31.0|  7369 1540 8267|DITPL3418F|mohit.gupta@hotma...|55000.0|
|  Nisha Patel|24.0|  9325 7630 6810|AZLPD9021H|nisha.patel@yahoo...|42000.0|
|Deepak Sharma|44.0|  5472 8935 1201|DSOPS4702Q|deepak.sharma@gma...|80000.0|
|  Aarti Singh|36.0|  6140 2739 4186|CYVPA7865G|aarti.singh@hotma...|69000.0|
|  Vikas Verma|39.0|  3706 8429 1603|EBWPD1968R|vikas.verma@gmail...|68000.0|
| Sonali Patel|25.0|  5690 3018 0246|AJHPM5268P|sonali.patel@yaho...|45000.0|
| Aakash Singh|30.0|  7823 9460 2756|CYNPA4973G|aakash.singh@hotm...|58000.0|
|  Nidhi Verma|32.0|  5180 7409 2873|CYGPN9435L|nidhi.verma@gmail...|59000.0|
+-------------+----+----------------+----------+--------------------+-------+
only showing top 20 rows

In [0]:
from pyspark.sql import SparkSession

In [0]:
df.write.format("csv")\
    .option("header", "true")\
    .option("mode", "overwrite")\
    .option("path", "/FileStore/spark/practical/pan")\
    .partitionBy("Salary")\
    .save()

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
File <command-2414993855375388>:1
----> 1 df.write.format("csv")\
      2     .option("header", "true")\
      3     .option("mode", "overwrite")\
      4     .option("path", "/FileStore/spark/practical/pan")\
      5     .partitionBy("Salary")\
      6     .save()

AttributeError: 'NoneType' object has no attribute 'write'

In [0]:
%fs head
dbfs:/FileStore/spark/practical/pan_card/Salary=10000/part-00002-tid-3923892475674107919-1c6c6ddd-4848-40ef-8cfd-74807d528299-5-1.c000.csv

In [0]:

my_data = [(1,   1),
(2,   1),
(3,   1),
(4,   2),
(5,   1),
(6,   2),
(7,   2)]


my_schema = ["id", "num"]

In [0]:
my_df = spark.createDataFrame(data=my_data,schema=my_schema)
my_df.show()

+---+---+
| id|num|
+---+---+
|  1|  1|
|  2|  1|
|  3|  1|
|  4|  2|
|  5|  1|
|  6|  2|
|  7|  2|
+---+---+

In [0]:
records_df = spark.read.format("csv")\
	.option("inferSchema","true")\
    .option("header","true")\
	.option("mode","PERMISSIVE")\
	.load("/FileStore/spark/pratical/10000Records.csv")\
	.printSchema()

root
 |-- Emp ID: integer (nullable = true)
 |-- Name Prefix: string (nullable = true)
 |-- First Name: string (nullable = true)
 |-- Middle Initial: string (nullable = true)
 |-- Last Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- E Mail: string (nullable = true)
 |-- Father's Name: string (nullable = true)
 |-- Mother's Name: string (nullable = true)
 |-- Mother's Maiden Name: string (nullable = true)
 |-- Date of Birth: date (nullable = true)
 |-- Time of Birth: string (nullable = true)
 |-- Age in Yrs.: double (nullable = true)
 |-- Weight in Kgs.: integer (nullable = true)
 |-- Date of Joining: date (nullable = true)
 |-- Quarter of Joining: string (nullable = true)
 |-- Half of Joining: string (nullable = true)
 |-- Year of Joining: integer (nullable = true)
 |-- Month of Joining: integer (nullable = true)
 |-- Month Name of Joining: string (nullable = true)
 |-- Short Month: string (nullable = true)
 |-- Day of Joining: integer (nullable = true)
 |-- DOW of Joining: string (nullable = true)
 |-- Short DOW: string (nullable = true)
 |-- Age in Company (Years): double (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Last % Hike: string (nullable = true)
 |-- SSN: string (nullable = true)
 |-- Phone No. : string (nullable = true)
 |-- Place Name: string (nullable = true)
 |-- County: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Zip: integer (nullable = true)
 |-- Region: string (nullable = true)
 |-- User Name: string (nullable = true)
 |-- Password: string (nullable = true)

In [0]:
rows = (1,"manish",26,5000)

In [0]:
from pyspark.sql.functions import * 
from pyspark.sql.types import *

In [0]:
records_df.show()

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
File <command-1711827664930549>:1
----> 1 records_df.show()

AttributeError: 'NoneType' object has no attribute 'show'

In [0]:
my_df.select("id").show()

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
File <command-1711827664930551>:1
----> 1 my_df.select("id").show()

NameError: name 'my_df' is not defined

In [0]:
my_df.select(col("id")).show()

+---+
| id|
+---+
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
+---+

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType, DateType
from datetime import datetime

# Create SparkSession
spark = SparkSession.builder \
    .appName("Create Employee DataFrame") \
    .getOrCreate()

# Define schema for the DataFrame
schema = StructType([
    StructField("emp_id", IntegerType(), True),
    StructField("emp_name", StringType(), True),
    StructField("emp_dept", StringType(), True),
    StructField("emp_sal", FloatType(), True),
    StructField("emp_doj", DateType(), True),
    StructField("emp_age", IntegerType(), True)
])

# Sample data
data = [
    (1, "John Doe", "Engineering", 5000.0, datetime.strptime("2022-01-01", "%Y-%m-%d").date(), 30),
    (2, "Jane Smith", "HR", 6000.0, datetime.strptime("2022-02-01", "%Y-%m-%d").date(), 35),
    (3, "Alice Johnson", "Marketing", 5500.0, datetime.strptime("2022-03-01", "%Y-%m-%d").date(), 32),
    (4, "Bob Brown", "Engineering", 5200.0, datetime.strptime("2022-04-01", "%Y-%m-%d").date(), 28),
    (5, "Charlie Davis", "Finance", 6500.0, datetime.strptime("2022-05-01", "%Y-%m-%d").date(), 40),
    (6, "David Wilson", "Sales", 5800.0, datetime.strptime("2022-06-01", "%Y-%m-%d").date(), 37),
    (7, "Emma Lee", "Engineering", 5100.0, datetime.strptime("2022-07-01", "%Y-%m-%d").date(), 31),
    (8, "Frank Harris", "Finance", 6700.0, datetime.strptime("2022-08-01", "%Y-%m-%d").date(), 42),
    (9, "Grace Martinez", "HR", 6200.0, datetime.strptime("2022-09-01", "%Y-%m-%d").date(), 33),
    (10, "Henry Thompson", "Marketing", 5400.0, datetime.strptime("2022-10-01", "%Y-%m-%d").date(), 29)
]

# Create RDD from sample data
rdd = spark.sparkContext.parallelize(data)

# Create DataFrame
employ_df = spark.createDataFrame(rdd, schema)

# Show DataFrame
employ_df.show()

+------+--------------+-----------+-------+----------+-------+
|emp_id|      emp_name|   emp_dept|emp_sal|   emp_doj|emp_age|
+------+--------------+-----------+-------+----------+-------+
|     1|      John Doe|Engineering| 5000.0|2022-01-01|     30|
|     2|    Jane Smith|         HR| 6000.0|2022-02-01|     35|
|     3| Alice Johnson|  Marketing| 5500.0|2022-03-01|     32|
|     4|     Bob Brown|Engineering| 5200.0|2022-04-01|     28|
|     5| Charlie Davis|    Finance| 6500.0|2022-05-01|     40|
|     6|  David Wilson|      Sales| 5800.0|2022-06-01|     37|
|     7|      Emma Lee|Engineering| 5100.0|2022-07-01|     31|
|     8|  Frank Harris|    Finance| 6700.0|2022-08-01|     42|
|     9|Grace Martinez|         HR| 6200.0|2022-09-01|     33|
|    10|Henry Thompson|  Marketing| 5400.0|2022-10-01|     29|
+------+--------------+-----------+-------+----------+-------+

In [0]:
employ_df.select("emp_name").show()

+--------------+
|      emp_name|
+--------------+
|      John Doe|
|    Jane Smith|
| Alice Johnson|
|     Bob Brown|
| Charlie Davis|
|  David Wilson|
|      Emma Lee|
|  Frank Harris|
|Grace Martinez|
|Henry Thompson|
+--------------+

In [0]:
employ_df.select("id +5 ").show()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-1711827664930555>:1
----> 1 employ_df.select("id +5 ").show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:3023, in DataFrame.select(self, *cols)
   2978 def select(self, *cols: "ColumnOrName") -> "DataFrame":  # type: ignore[misc]
   2979     """Projects a set of expressions and returns a new :class:`DataFrame`.
   2980
   2981     .. versionadded:: 1.3.0
   (...)
   3021     +-----+---+
   3022     """
-> 3023     jdf = self._jdf.select(self._jcols(*cols))
   3024     return DataFrame(jdf, self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `id +5 ` cannot be resolved. Did you mean one of the following? [`emp_age`, `emp_dept`, `emp_doj`, `emp_id`, `emp_name`].;
'Project ['id +5 ]
+- LogicalRDD [emp_id#2, emp_name#3, emp_dept#4, emp_sal#5, emp_doj#6, emp_age#7], false

In [0]:
employ_df.select(col("emp_id") +5 ).show()

+------------+
|(emp_id + 5)|
+------------+
|           6|
|           7|
|           8|
|           9|
|          10|
|          11|
|          12|
|          13|
|          14|
|          15|
+------------+

In [0]:
employ_df.select(col("emp_id"),col("emp_name"),col("emp_age")).show()

+------+--------------+-------+
|emp_id|      emp_name|emp_age|
+------+--------------+-------+
|     1|      John Doe|     30|
|     2|    Jane Smith|     35|
|     3| Alice Johnson|     32|
|     4|     Bob Brown|     28|
|     5| Charlie Davis|     40|
|     6|  David Wilson|     37|
|     7|      Emma Lee|     31|
|     8|  Frank Harris|     42|
|     9|Grace Martinez|     33|
|    10|Henry Thompson|     29|
+------+--------------+-------+

In [0]:
employ_df.select("emp_id",col("emp_name"),\
    employ_df["emp_sal"],employ_df.emp_dept).show()

+------+--------------+-------+-----------+
|emp_id|      emp_name|emp_sal|   emp_dept|
+------+--------------+-------+-----------+
|     1|      John Doe| 5000.0|Engineering|
|     2|    Jane Smith| 6000.0|         HR|
|     3| Alice Johnson| 5500.0|  Marketing|
|     4|     Bob Brown| 5200.0|Engineering|
|     5| Charlie Davis| 6500.0|    Finance|
|     6|  David Wilson| 5800.0|      Sales|
|     7|      Emma Lee| 5100.0|Engineering|
|     8|  Frank Harris| 6700.0|    Finance|
|     9|Grace Martinez| 6200.0|         HR|
|    10|Henry Thompson| 5400.0|  Marketing|
+------+--------------+-------+-----------+

In [0]:
employ_df.select(expr("emp_id +5 ")).show

Out[17]: <bound method DataFrame.show of DataFrame[(emp_id + 5): int]>

In [0]:
employ_df.select(expr("emp_id as employ_id"),expr("emp_name as employ_name"),expr("concat(emp_name,emp_dept)")).show()

+---------+--------------+--------------------------+
|employ_id|   employ_name|concat(emp_name, emp_dept)|
+---------+--------------+--------------------------+
|        1|      John Doe|       John DoeEngineering|
|        2|    Jane Smith|              Jane SmithHR|
|        3| Alice Johnson|      Alice JohnsonMark...|
|        4|     Bob Brown|      Bob BrownEngineering|
|        5| Charlie Davis|      Charlie DavisFinance|
|        6|  David Wilson|         David WilsonSales|
|        7|      Emma Lee|       Emma LeeEngineering|
|        8|  Frank Harris|       Frank HarrisFinance|
|        9|Grace Martinez|          Grace MartinezHR|
|       10|Henry Thompson|      Henry ThompsonMar...|
+---------+--------------+--------------------------+

In [0]:
employ_df.createOrReplaceTempView("emp_table")

In [0]:
spark.sql(""" 
          select * from emp_table
          """).show()

+------+--------------+-----------+-------+----------+-------+
|emp_id|      emp_name|   emp_dept|emp_sal|   emp_doj|emp_age|
+------+--------------+-----------+-------+----------+-------+
|     1|      John Doe|Engineering| 5000.0|2022-01-01|     30|
|     2|    Jane Smith|         HR| 6000.0|2022-02-01|     35|
|     3| Alice Johnson|  Marketing| 5500.0|2022-03-01|     32|
|     4|     Bob Brown|Engineering| 5200.0|2022-04-01|     28|
|     5| Charlie Davis|    Finance| 6500.0|2022-05-01|     40|
|     6|  David Wilson|      Sales| 5800.0|2022-06-01|     37|
|     7|      Emma Lee|Engineering| 5100.0|2022-07-01|     31|
|     8|  Frank Harris|    Finance| 6700.0|2022-08-01|     42|
|     9|Grace Martinez|         HR| 6200.0|2022-09-01|     33|
|    10|Henry Thompson|  Marketing| 5400.0|2022-10-01|     29|
+------+--------------+-----------+-------+----------+-------+

In [0]:
employ_df.select("*").show()

+------+--------------+-----------+-------+----------+-------+
|emp_id|      emp_name|   emp_dept|emp_sal|   emp_doj|emp_age|
+------+--------------+-----------+-------+----------+-------+
|     1|      John Doe|Engineering| 5000.0|2022-01-01|     30|
|     2|    Jane Smith|         HR| 6000.0|2022-02-01|     35|
|     3| Alice Johnson|  Marketing| 5500.0|2022-03-01|     32|
|     4|     Bob Brown|Engineering| 5200.0|2022-04-01|     28|
|     5| Charlie Davis|    Finance| 6500.0|2022-05-01|     40|
|     6|  David Wilson|      Sales| 5800.0|2022-06-01|     37|
|     7|      Emma Lee|Engineering| 5100.0|2022-07-01|     31|
|     8|  Frank Harris|    Finance| 6700.0|2022-08-01|     42|
|     9|Grace Martinez|         HR| 6200.0|2022-09-01|     33|
|    10|Henry Thompson|  Marketing| 5400.0|2022-10-01|     29|
+------+--------------+-----------+-------+----------+-------+

In [0]:
spark.sql(""" select emp_id,emp_age from emp_table """).show()

+------+-------+
|emp_id|emp_age|
+------+-------+
|     1|     30|
|     2|     35|
|     3|     32|
|     4|     28|
|     5|     40|
|     6|     37|
|     7|     31|
|     8|     42|
|     9|     33|
|    10|     29|
+------+-------+

In [0]:
employ_df.printSchema()

root
 |-- emp_id: integer (nullable = true)
 |-- emp_name: string (nullable = true)
 |-- emp_dept: string (nullable = true)
 |-- emp_sal: float (nullable = true)
 |-- emp_doj: date (nullable = true)
 |-- emp_age: integer (nullable = true)

In [0]:
employ_df.select(col("emp_id").alias("employee_id"),"emp_name","emp_age").show()

+-----------+--------------+-------+
|employee_id|      emp_name|emp_age|
+-----------+--------------+-------+
|          1|      John Doe|     30|
|          2|    Jane Smith|     35|
|          3| Alice Johnson|     32|
|          4|     Bob Brown|     28|
|          5| Charlie Davis|     40|
|          6|  David Wilson|     37|
|          7|      Emma Lee|     31|
|          8|  Frank Harris|     42|
|          9|Grace Martinez|     33|
|         10|Henry Thompson|     29|
+-----------+--------------+-------+

In [0]:
employ_df.filter(col("emp_sal")>5000).show()

+------+--------------+-----------+-------+----------+-------+
|emp_id|      emp_name|   emp_dept|emp_sal|   emp_doj|emp_age|
+------+--------------+-----------+-------+----------+-------+
|     2|    Jane Smith|         HR| 6000.0|2022-02-01|     35|
|     3| Alice Johnson|  Marketing| 5500.0|2022-03-01|     32|
|     4|     Bob Brown|Engineering| 5200.0|2022-04-01|     28|
|     5| Charlie Davis|    Finance| 6500.0|2022-05-01|     40|
|     6|  David Wilson|      Sales| 5800.0|2022-06-01|     37|
|     7|      Emma Lee|Engineering| 5100.0|2022-07-01|     31|
|     8|  Frank Harris|    Finance| 6700.0|2022-08-01|     42|
|     9|Grace Martinez|         HR| 6200.0|2022-09-01|     33|
|    10|Henry Thompson|  Marketing| 5400.0|2022-10-01|     29|
+------+--------------+-----------+-------+----------+-------+

In [0]:
employ_df.filter((col("emp_sal")>5000) & (col("emp_age")<32)).show()

+------+--------------+-----------+-------+----------+-------+
|emp_id|      emp_name|   emp_dept|emp_sal|   emp_doj|emp_age|
+------+--------------+-----------+-------+----------+-------+
|     4|     Bob Brown|Engineering| 5200.0|2022-04-01|     28|
|     7|      Emma Lee|Engineering| 5100.0|2022-07-01|     31|
|    10|Henry Thompson|  Marketing| 5400.0|2022-10-01|     29|
+------+--------------+-----------+-------+----------+-------+

In [0]:
employ_df.where(col("emp_sal")>5000).show()

+------+--------------+-----------+-------+----------+-------+
|emp_id|      emp_name|   emp_dept|emp_sal|   emp_doj|emp_age|
+------+--------------+-----------+-------+----------+-------+
|     2|    Jane Smith|         HR| 6000.0|2022-02-01|     35|
|     3| Alice Johnson|  Marketing| 5500.0|2022-03-01|     32|
|     4|     Bob Brown|Engineering| 5200.0|2022-04-01|     28|
|     5| Charlie Davis|    Finance| 6500.0|2022-05-01|     40|
|     6|  David Wilson|      Sales| 5800.0|2022-06-01|     37|
|     7|      Emma Lee|Engineering| 5100.0|2022-07-01|     31|
|     8|  Frank Harris|    Finance| 6700.0|2022-08-01|     42|
|     9|Grace Martinez|         HR| 6200.0|2022-09-01|     33|
|    10|Henry Thompson|  Marketing| 5400.0|2022-10-01|     29|
+------+--------------+-----------+-------+----------+-------+

In [0]:
employ_df.select("*",lit("kumar").alias("middle_name")).show()

+------+--------------+-----------+-------+----------+-------+-----------+
|emp_id|      emp_name|   emp_dept|emp_sal|   emp_doj|emp_age|middle_name|
+------+--------------+-----------+-------+----------+-------+-----------+
|     1|      John Doe|Engineering| 5000.0|2022-01-01|     30|      kumar|
|     2|    Jane Smith|         HR| 6000.0|2022-02-01|     35|      kumar|
|     3| Alice Johnson|  Marketing| 5500.0|2022-03-01|     32|      kumar|
|     4|     Bob Brown|Engineering| 5200.0|2022-04-01|     28|      kumar|
|     5| Charlie Davis|    Finance| 6500.0|2022-05-01|     40|      kumar|
|     6|  David Wilson|      Sales| 5800.0|2022-06-01|     37|      kumar|
|     7|      Emma Lee|Engineering| 5100.0|2022-07-01|     31|      kumar|
|     8|  Frank Harris|    Finance| 6700.0|2022-08-01|     42|      kumar|
|     9|Grace Martinez|         HR| 6200.0|2022-09-01|     33|      kumar|
|    10|Henry Thompson|  Marketing| 5400.0|2022-10-01|     29|      kumar|
+------+--------------+-----------+-------+----------+-------+-----------+

In [0]:
employ_df.withColumn("sur_name",lit("singh")).show()

+------+--------------+-----------+-------+----------+-------+--------+
|emp_id|      emp_name|   emp_dept|emp_sal|   emp_doj|emp_age|sur_name|
+------+--------------+-----------+-------+----------+-------+--------+
|     1|      John Doe|Engineering| 5000.0|2022-01-01|     30|   singh|
|     2|    Jane Smith|         HR| 6000.0|2022-02-01|     35|   singh|
|     3| Alice Johnson|  Marketing| 5500.0|2022-03-01|     32|   singh|
|     4|     Bob Brown|Engineering| 5200.0|2022-04-01|     28|   singh|
|     5| Charlie Davis|    Finance| 6500.0|2022-05-01|     40|   singh|
|     6|  David Wilson|      Sales| 5800.0|2022-06-01|     37|   singh|
|     7|      Emma Lee|Engineering| 5100.0|2022-07-01|     31|   singh|
|     8|  Frank Harris|    Finance| 6700.0|2022-08-01|     42|   singh|
|     9|Grace Martinez|         HR| 6200.0|2022-09-01|     33|   singh|
|    10|Henry Thompson|  Marketing| 5400.0|2022-10-01|     29|   singh|
+------+--------------+-----------+-------+----------+-------+--------+

In [0]:
employ_df.withColumnRenamed("emp_id","employ_id").show()

+---------+--------------+-----------+-------+----------+-------+
|employ_id|      emp_name|   emp_dept|emp_sal|   emp_doj|emp_age|
+---------+--------------+-----------+-------+----------+-------+
|        1|      John Doe|Engineering| 5000.0|2022-01-01|     30|
|        2|    Jane Smith|         HR| 6000.0|2022-02-01|     35|
|        3| Alice Johnson|  Marketing| 5500.0|2022-03-01|     32|
|        4|     Bob Brown|Engineering| 5200.0|2022-04-01|     28|
|        5| Charlie Davis|    Finance| 6500.0|2022-05-01|     40|
|        6|  David Wilson|      Sales| 5800.0|2022-06-01|     37|
|        7|      Emma Lee|Engineering| 5100.0|2022-07-01|     31|
|        8|  Frank Harris|    Finance| 6700.0|2022-08-01|     42|
|        9|Grace Martinez|         HR| 6200.0|2022-09-01|     33|
|       10|Henry Thompson|  Marketing| 5400.0|2022-10-01|     29|
+---------+--------------+-----------+-------+----------+-------+

In [0]:
employ_df.printSchema()

root
 |-- emp_id: integer (nullable = true)
 |-- emp_name: string (nullable = true)
 |-- emp_dept: string (nullable = true)
 |-- emp_sal: float (nullable = true)
 |-- emp_doj: date (nullable = true)
 |-- emp_age: integer (nullable = true)

In [0]:
employ_df.withColumn("emp_id",col("emp_id").cast("string")).printSchema()

root
 |-- emp_id: string (nullable = true)
 |-- emp_name: string (nullable = true)
 |-- emp_dept: string (nullable = true)
 |-- emp_sal: float (nullable = true)
 |-- emp_doj: date (nullable = true)
 |-- emp_age: integer (nullable = true)

In [0]:
employ_df.withColumn("emp_id",col("emp_id").cast("string"))\
    .withColumn("emp_sal",col("emp_sal").cast("long")).printSchema()

root
 |-- emp_id: string (nullable = true)
 |-- emp_name: string (nullable = true)
 |-- emp_dept: string (nullable = true)
 |-- emp_sal: long (nullable = true)
 |-- emp_doj: date (nullable = true)
 |-- emp_age: integer (nullable = true)

In [0]:
employ_df.drop("emp_age",col("emp_doj")).show()

+------+--------------+-----------+-------+
|emp_id|      emp_name|   emp_dept|emp_sal|
+------+--------------+-----------+-------+
|     1|      John Doe|Engineering| 5000.0|
|     2|    Jane Smith|         HR| 6000.0|
|     3| Alice Johnson|  Marketing| 5500.0|
|     4|     Bob Brown|Engineering| 5200.0|
|     5| Charlie Davis|    Finance| 6500.0|
|     6|  David Wilson|      Sales| 5800.0|
|     7|      Emma Lee|Engineering| 5100.0|
|     8|  Frank Harris|    Finance| 6700.0|
|     9|Grace Martinez|         HR| 6200.0|
|    10|Henry Thompson|  Marketing| 5400.0|
+------+--------------+-----------+-------+

In [0]:
spark.sql("""select * from emp_table where emp_sal > 5000 and 
          emp_age < 32 """).show()

+------+--------------+-----------+-------+----------+-------+
|emp_id|      emp_name|   emp_dept|emp_sal|   emp_doj|emp_age|
+------+--------------+-----------+-------+----------+-------+
|     4|     Bob Brown|Engineering| 5200.0|2022-04-01|     28|
|     7|      Emma Lee|Engineering| 5100.0|2022-07-01|     31|
|    10|Henry Thompson|  Marketing| 5400.0|2022-10-01|     29|
+------+--------------+-----------+-------+----------+-------+

In [0]:
spark.sql("""select *, "kumar" as last_name from emp_table where emp_sal > 5000 and 
          emp_age < 32 """).show()

+------+--------------+-----------+-------+----------+-------+---------+
|emp_id|      emp_name|   emp_dept|emp_sal|   emp_doj|emp_age|last_name|
+------+--------------+-----------+-------+----------+-------+---------+
|     4|     Bob Brown|Engineering| 5200.0|2022-04-01|     28|    kumar|
|     7|      Emma Lee|Engineering| 5100.0|2022-07-01|     31|    kumar|
|    10|Henry Thompson|  Marketing| 5400.0|2022-10-01|     29|    kumar|
+------+--------------+-----------+-------+----------+-------+---------+

In [0]:
my_data=[(10 ,'Anil',50000, 18),
(11 ,'Vikas',75000,  16),
(12 ,'Nisha',40000,  18),
(13 ,'Nidhi',60000,  17),
(14 ,'Priya',80000,  18),
(15 ,'Mohit',45000,  18),
(16 ,'Rajesh',90000, 10),
(17 ,'Raman',55000, 16),
(18 ,'Sam',65000,   17)]

In [0]:
my_schema = ['id','name','sal','mangr_id']

In [0]:
manager_df = spark.createDataFrame(data=my_data,schema=my_schema)

In [0]:
data1=[(19 ,'Sohan',50000, 18),
(20 ,'Sima',75000,  17)]

schema_1 = ['id','name','sal','mangr_id']

manger_df1 = spark.createDataFrame(data=data1,schema=schema_1)

In [0]:
manager_df.show()

+---+------+-----+--------+
| id|  name|  sal|mangr_id|
+---+------+-----+--------+
| 10|  Anil|50000|      18|
| 11| Vikas|75000|      16|
| 12| Nisha|40000|      18|
| 13| Nidhi|60000|      17|
| 14| Priya|80000|      18|
| 15| Mohit|45000|      18|
| 16|Rajesh|90000|      10|
| 17| Raman|55000|      16|
| 18|   Sam|65000|      17|
+---+------+-----+--------+

In [0]:
manager_df.count()

Out[25]: 9

In [0]:
manger_df1.show()

+---+-----+-----+--------+
| id| name|  sal|mangr_id|
+---+-----+-----+--------+
| 19|Sohan|50000|      18|
| 20| Sima|75000|      17|
+---+-----+-----+--------+

In [0]:
manager_df.union(manger_df1).show()

+---+------+-----+--------+
| id|  name|  sal|mangr_id|
+---+------+-----+--------+
| 10|  Anil|50000|      18|
| 11| Vikas|75000|      16|
| 12| Nisha|40000|      18|
| 13| Nidhi|60000|      17|
| 14| Priya|80000|      18|
| 15| Mohit|45000|      18|
| 16|Rajesh|90000|      10|
| 17| Raman|55000|      16|
| 18|   Sam|65000|      17|
| 19| Sohan|50000|      18|
| 20|  Sima|75000|      17|
+---+------+-----+--------+

In [0]:
manager_df.unionAll(manger_df1).show()

+---+------+-----+--------+
| id|  name|  sal|mangr_id|
+---+------+-----+--------+
| 10|  Anil|50000|      18|
| 11| Vikas|75000|      16|
| 12| Nisha|40000|      18|
| 13| Nidhi|60000|      17|
| 14| Priya|80000|      18|
| 15| Mohit|45000|      18|
| 16|Rajesh|90000|      10|
| 17| Raman|55000|      16|
| 18|   Sam|65000|      17|
| 19| Sohan|50000|      18|
| 20|  Sima|75000|      17|
+---+------+-----+--------+

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql import Row

In [0]:
duplicate_rows = [
    Row(id=20, name='Sima', sal=75000, mangr_id=17),
    Row(id=21, name='Raj', sal=60000, mangr_id=16),
    Row(id=22, name='Priya', sal=80000, mangr_id=18)
]

In [0]:
new_df = spark.createDataFrame(duplicate_rows)

In [0]:
# Convert duplicate_rows to a DataFrame


# Append new_df to manager_df
combined_df = manager_df.unionAll(new_df)

In [0]:
# Display the combined DataFrame
combined_df.show()

# Optionally remove duplicates
# combined_df = combined_df.dropDuplicates()

# Count the total number of rows
total_rows = combined_df.count()
print("Total number of rows after adding duplicates:", total_rows)

+---+------+-----+--------+
| id|  name|  sal|mangr_id|
+---+------+-----+--------+
| 10|  Anil|50000|      18|
| 11| Vikas|75000|      16|
| 12| Nisha|40000|      18|
| 13| Nidhi|60000|      17|
| 14| Priya|80000|      18|
| 15| Mohit|45000|      18|
| 16|Rajesh|90000|      10|
| 17| Raman|55000|      16|
| 18|   Sam|65000|      17|
| 20|  Sima|75000|      17|
| 21|   Raj|60000|      16|
| 22| Priya|80000|      18|
+---+------+-----+--------+

Total number of rows after adding duplicates: 12

In [0]:
combined_df.unionAll(manger_df1).count()

Out[37]: 14

In [0]:
combined_df.union(manger_df1).count()

Out[43]: 14

In [0]:
manger_df1.createOrReplaceTempView("manger_df1_tabl")
combined_df.createOrReplaceTempView("duplicate_manger_df_tbl")

In [0]:
spark.sql(""" select * from manger_df1_tabl
          union 
          select * from duplicate_manger_df_tbl """ ).count()

Out[41]: 13

In [0]:
spark.sql(""" select * from manger_df1_tabl
          union all 
          select * from duplicate_manger_df_tbl """ ).count()

Out[42]: 14

In [0]:
wrong_column_data=[(19 ,50000, 18,'Sohan'),
(20 ,75000,  17,'Sima')]

wrong_schema = ['id','sal','mangr_id','name']

wrong_manger_df = spark.createDataFrame(data=wrong_column_data,schema=wrong_schema)

In [0]:
manger_df1.union(wrong_manger_df).show()

+---+-----+-----+--------+
| id| name|  sal|mangr_id|
+---+-----+-----+--------+
| 19|Sohan|50000|      18|
| 20| Sima|75000|      17|
| 19|50000|   18|   Sohan|
| 20|75000|   17|    Sima|
+---+-----+-----+--------+

In [0]:
manger_df1.show()

wrong_manger_df.show()

+---+-----+-----+--------+
| id| name|  sal|mangr_id|
+---+-----+-----+--------+
| 19|Sohan|50000|      18|
| 20| Sima|75000|      17|
+---+-----+-----+--------+

+---+-----+--------+-----+
| id|  sal|mangr_id| name|
+---+-----+--------+-----+
| 19|50000|      18|Sohan|
| 20|75000|      17| Sima|
+---+-----+--------+-----+

In [0]:
manger_df1.unionByName(wrong_manger_df).show()

+---+-----+-----+--------+
| id| name|  sal|mangr_id|
+---+-----+-----+--------+
| 19|Sohan|50000|      18|
| 20| Sima|75000|      17|
| 19|Sohan|50000|      18|
| 20| Sima|75000|      17|
+---+-----+-----+--------+

In [0]:
wrong_column_data=[(19 ,50000, 18,'Sohan',10),
(20 ,75000,  17,'Sima',20)]

wrong_schema = ['id','sal','mangr_id','name','bonus']

wrong_manger_df = spark.createDataFrame(data=wrong_column_data,schema=wrong_schema)

In [0]:
wrong_manger_df.union(manger_df1)

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-133874981705034>:1
----> 1 wrong_manger_df.union(manger_df1)

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:3646, in DataFrame.union(self, other)
   3598 def union(self, other: "DataFrame") -> "DataFrame":
   3599     """Return a new :class:`DataFrame` containing union of rows in this and another
   3600     :class:`DataFrame`.
   3601
   (...)
   3644     +----+----+----+
   3645     """
-> 3646     return DataFrame(self._jdf.union(other._jdf), self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [NUM_COLUMNS_MISMATCH] UNION can only be performed on inputs with the same number of columns, but the first input has 5 columns and the second input has 4 columns.;
'Union false, false
:- LogicalRDD [id#767L, sal#768L, mangr_id#769L, name#770, bonus#771L], false
+- LogicalRDD [id#144L, name#145, sal#146L, mangr_id#147L], false

In [0]:
wrong_manger_df.select('id','sal','manger_id','name').union(manger_df1).show()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-133874981705035>:1
----> 1 wrong_manger_df.select('id','sal','manger_id','name').union(manger_df1).show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:3023, in DataFrame.select(self, *cols)
   2978 def select(self, *cols: "ColumnOrName") -> "DataFrame":  # type: ignore[misc]
   2979     """Projects a set of expressions and returns a new :class:`DataFrame`.
   2980
   2981     .. versionadded:: 1.3.0
   (...)
   3021     +-----+---+
   3022     """
-> 3023     jdf = self._jdf.select(self._jcols(*cols))
   3024     return DataFrame(jdf, self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `manger_id` cannot be resolved. Did you mean one of the following? [`mangr_id`, `id`, `name`, `bonus`, `sal`].;
'Project [id#767L, sal#768L, 'manger_id, name#770]
+- LogicalRDD [id#767L, sal#768L, mangr_id#769L, name#770, bonus#771L], false

In [0]:
wrong_column_data=[(19 ,50000, 18,'Sohan'),
(20 ,75000,  17,'Sima')]

wrong_schema = ['id','sal','mangr_id','nam']

wrong_manger_df2 = spark.createDataFrame(data=wrong_column_data,schema=wrong_schema)

In [0]:
wrong_manger_df.unionByName(wrong_manger_df2).show()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-133874981705037>:1
----> 1 wrong_manger_df.unionByName(wrong_manger_df2).show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:3738, in DataFrame.unionByName(self, other, allowMissingColumns)
   3682 def unionByName(self, other: "DataFrame", allowMissingColumns: bool = False) -> "DataFrame":
   3683     """Returns a new :class:`DataFrame` containing union of rows in this and another
   3684     :class:`DataFrame`.
   3685
   (...)
   3736     +----+----+----+----+
   3737     """
-> 3738     return DataFrame(self._jdf.unionByName(other._jdf, allowMissingColumns), self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: Cannot resolve column name "name" among (id, sal, mangr_id, nam).

In [0]:
emp_data = [
(1,'manish',26,20000,'india','IT'),
(2,'rahul',None,40000,'germany','engineering'),
(3,'pawan',12,60000,'india','sales'),
(4,'roshini',44,None,'uk','engineering'),
(5,'raushan',35,70000,'india','sales'),
(6,None,29,200000,'uk','IT'),
(7,'adam',37,65000,'us','IT'),
(8,'chris',16,40000,'us','sales'),
(None,None,None,None,None,None),
(7,'adam',37,65000,'us','IT')
]

In [0]:
emp_schema = ['id','name','age','salary','country','dept']

In [0]:
emp_df = spark.createDataFrame(data=emp_data,schema=emp_schema)

In [0]:
emp_df.show()

+----+-------+----+------+-------+-----------+
|  id|   name| age|salary|country|       dept|
+----+-------+----+------+-------+-----------+
|   1| manish|  26| 20000|  india|         IT|
|   2|  rahul|null| 40000|germany|engineering|
|   3|  pawan|  12| 60000|  india|      sales|
|   4|roshini|  44|  null|     uk|engineering|
|   5|raushan|  35| 70000|  india|      sales|
|   6|   null|  29|200000|     uk|         IT|
|   7|   adam|  37| 65000|     us|         IT|
|   8|  chris|  16| 40000|     us|      sales|
|null|   null|null|  null|   null|       null|
|   7|   adam|  37| 65000|     us|         IT|
+----+-------+----+------+-------+-----------+

In [0]:
from pyspark.sql.functions import * 
from pyspark.sql.types import *

In [0]:
emp_df.withColumn("adult",when(col("age")<18,"no")
                  .when(col("age")>18,"yes")
                  .otherwise("novalue")).show()

+----+-------+----+------+-------+-----------+-------+
|  id|   name| age|salary|country|       dept|  adult|
+----+-------+----+------+-------+-----------+-------+
|   1| manish|  26| 20000|  india|         IT|    yes|
|   2|  rahul|null| 40000|germany|engineering|novalue|
|   3|  pawan|  12| 60000|  india|      sales|     no|
|   4|roshini|  44|  null|     uk|engineering|    yes|
|   5|raushan|  35| 70000|  india|      sales|    yes|
|   6|   null|  29|200000|     uk|         IT|    yes|
|   7|   adam|  37| 65000|     us|         IT|    yes|
|   8|  chris|  16| 40000|     us|      sales|     no|
|null|   null|null|  null|   null|       null|novalue|
|   7|   adam|  37| 65000|     us|         IT|    yes|
+----+-------+----+------+-------+-----------+-------+

In [0]:
emp_df.withColumn("age",when(col("age").isNull(),lit(19))
                  .otherwise(col("age")))\
    .withColumn("adult",when(col("age")>18,"yes")
                .otherwise("no")).show()

+----+-------+---+------+-------+-----------+-----+
|  id|   name|age|salary|country|       dept|adult|
+----+-------+---+------+-------+-----------+-----+
|   1| manish| 26| 20000|  india|         IT|  yes|
|   2|  rahul| 19| 40000|germany|engineering|  yes|
|   3|  pawan| 12| 60000|  india|      sales|   no|
|   4|roshini| 44|  null|     uk|engineering|  yes|
|   5|raushan| 35| 70000|  india|      sales|  yes|
|   6|   null| 29|200000|     uk|         IT|  yes|
|   7|   adam| 37| 65000|     us|         IT|  yes|
|   8|  chris| 16| 40000|     us|      sales|   no|
|null|   null| 19|  null|   null|       null|  yes|
|   7|   adam| 37| 65000|     us|         IT|  yes|
+----+-------+---+------+-------+-----------+-----+

In [0]:
emp_df.withColumn("age_wise",when((col("age")>0) &(col("age")<18),"minor")).show()

+----+-------+----+------+-------+-----------+--------+
|  id|   name| age|salary|country|       dept|age_wise|
+----+-------+----+------+-------+-----------+--------+
|   1| manish|  26| 20000|  india|         IT|    null|
|   2|  rahul|null| 40000|germany|engineering|    null|
|   3|  pawan|  12| 60000|  india|      sales|   minor|
|   4|roshini|  44|  null|     uk|engineering|    null|
|   5|raushan|  35| 70000|  india|      sales|    null|
|   6|   null|  29|200000|     uk|         IT|    null|
|   7|   adam|  37| 65000|     us|         IT|    null|
|   8|  chris|  16| 40000|     us|      sales|   minor|
|null|   null|null|  null|   null|       null|    null|
|   7|   adam|  37| 65000|     us|         IT|    null|
+----+-------+----+------+-------+-----------+--------+

In [0]:
emp_df.withColumn("age_wise",when((col("age")>0) & (col("age")<18),"minor")
                  .when((col("age")>18) & (col("age")<30),"mid")
                  .otherwise("major")).show()

+----+-------+----+------+-------+-----------+--------+
|  id|   name| age|salary|country|       dept|age_wise|
+----+-------+----+------+-------+-----------+--------+
|   1| manish|  26| 20000|  india|         IT|     mid|
|   2|  rahul|null| 40000|germany|engineering|   major|
|   3|  pawan|  12| 60000|  india|      sales|   minor|
|   4|roshini|  44|  null|     uk|engineering|   major|
|   5|raushan|  35| 70000|  india|      sales|   major|
|   6|   null|  29|200000|     uk|         IT|     mid|
|   7|   adam|  37| 65000|     us|         IT|   major|
|   8|  chris|  16| 40000|     us|      sales|   minor|
|null|   null|null|  null|   null|       null|   major|
|   7|   adam|  37| 65000|     us|         IT|   major|
+----+-------+----+------+-------+-----------+--------+

In [0]:
emp_df.createOrReplaceTempView("tab1")

In [0]:
spark.sql("""select *,
          case when age< 18 then 'minor'
          when age>18 then 'major'
          else 'novalue'
          end as age_wise
          from tab1 """).show()

+----+-------+----+------+-------+-----------+--------+
|  id|   name| age|salary|country|       dept|age_wise|
+----+-------+----+------+-------+-----------+--------+
|   1| manish|  26| 20000|  india|         IT|   major|
|   2|  rahul|null| 40000|germany|engineering| novalue|
|   3|  pawan|  12| 60000|  india|      sales|   minor|
|   4|roshini|  44|  null|     uk|engineering|   major|
|   5|raushan|  35| 70000|  india|      sales|   major|
|   6|   null|  29|200000|     uk|         IT|   major|
|   7|   adam|  37| 65000|     us|         IT|   major|
|   8|  chris|  16| 40000|     us|      sales|   minor|
|null|   null|null|  null|   null|       null| novalue|
|   7|   adam|  37| 65000|     us|         IT|   major|
+----+-------+----+------+-------+-----------+--------+

In [0]:
my_data=[(10 ,'Anil',50000, 18),
(11 ,'Vikas',75000,  16),
(12 ,'Nisha',40000,  18),
(13 ,'Nidhi',60000,  17),
(14 ,'Priya',80000,  18),
(15 ,'Mohit',45000,  18),
(16 ,'Rajesh',90000, 10),
(17 ,'Raman',55000, 16),
(18 ,'Sam',65000,   17),
(15 ,'Mohit',45000,  18),
(13 ,'Nidhi',60000,  17),      
(14 ,'Priya',90000,  18),  
(18 ,'Sam',65000,   17)
     ]

my_schema = ['id','name','sal','mangr_id']

In [0]:
manger_df = spark.createDataFrame(data=my_data,schema=my_schema)

In [0]:
manger_df.show()

+---+------+-----+--------+
| id|  name|  sal|mangr_id|
+---+------+-----+--------+
| 10|  Anil|50000|      18|
| 11| Vikas|75000|      16|
| 12| Nisha|40000|      18|
| 13| Nidhi|60000|      17|
| 14| Priya|80000|      18|
| 15| Mohit|45000|      18|
| 16|Rajesh|90000|      10|
| 17| Raman|55000|      16|
| 18|   Sam|65000|      17|
| 15| Mohit|45000|      18|
| 13| Nidhi|60000|      17|
| 14| Priya|90000|      18|
| 18|   Sam|65000|      17|
+---+------+-----+--------+

In [0]:
manger_df.distinct().show()

+---+------+-----+--------+
| id|  name|  sal|mangr_id|
+---+------+-----+--------+
| 10|  Anil|50000|      18|
| 12| Nisha|40000|      18|
| 11| Vikas|75000|      16|
| 13| Nidhi|60000|      17|
| 15| Mohit|45000|      18|
| 14| Priya|80000|      18|
| 16|Rajesh|90000|      10|
| 17| Raman|55000|      16|
| 18|   Sam|65000|      17|
| 14| Priya|90000|      18|
+---+------+-----+--------+

In [0]:
manger_df.distinct("id","name").show()

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
File <command-4219618486453525>:1
----> 1 manger_df.distinct("id","name").show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

TypeError: distinct() takes 1 positional argument but 3 were given

In [0]:
manger_df.select("id","name").distinct().show()

+---+------+
| id|  name|
+---+------+
| 10|  Anil|
| 11| Vikas|
| 12| Nisha|
| 13| Nidhi|
| 15| Mohit|
| 14| Priya|
| 17| Raman|
| 16|Rajesh|
| 18|   Sam|
+---+------+

In [0]:
drop_manger_df = manger_df.drop_duplicates(["id","name"]).show()

+---+------+-----+--------+
| id|  name|  sal|mangr_id|
+---+------+-----+--------+
| 10|  Anil|50000|      18|
| 11| Vikas|75000|      16|
| 12| Nisha|40000|      18|
| 13| Nidhi|60000|      17|
| 15| Mohit|45000|      18|
| 14| Priya|80000|      18|
| 17| Raman|55000|      16|
| 16|Rajesh|90000|      10|
| 18|   Sam|65000|      17|
+---+------+-----+--------+

In [0]:
manger_df.sort(col("id")).show()

+---+------+-----+--------+
| id|  name|  sal|mangr_id|
+---+------+-----+--------+
| 10|  Anil|50000|      18|
| 11| Vikas|75000|      16|
| 12| Nisha|40000|      18|
| 13| Nidhi|60000|      17|
| 13| Nidhi|60000|      17|
| 14| Priya|90000|      18|
| 14| Priya|80000|      18|
| 15| Mohit|45000|      18|
| 15| Mohit|45000|      18|
| 16|Rajesh|90000|      10|
| 17| Raman|55000|      16|
| 18|   Sam|65000|      17|
| 18|   Sam|65000|      17|
+---+------+-----+--------+

In [0]:
manger_df.sort(col("sal").desc(),col("name").desc()).show()

+---+------+-----+--------+
| id|  name|  sal|mangr_id|
+---+------+-----+--------+
| 16|Rajesh|90000|      10|
| 14| Priya|90000|      18|
| 14| Priya|80000|      18|
| 11| Vikas|75000|      16|
| 18|   Sam|65000|      17|
| 18|   Sam|65000|      17|
| 13| Nidhi|60000|      17|
| 13| Nidhi|60000|      17|
| 17| Raman|55000|      16|
| 10|  Anil|50000|      18|
| 15| Mohit|45000|      18|
| 15| Mohit|45000|      18|
| 12| Nisha|40000|      18|
+---+------+-----+--------+

In [0]:
leet_code_data = [
    (1, 'Will', None),
    (2, 'Jane', None),
    (3, 'Alex', 2),
    (4, 'Bill', None),
    (5, 'Zack', 1),
    (6, 'Mark', 2)
]

schema_let = ['id','name','refernce_id']

In [0]:
leet_df = spark.createDataFrame(data=leet_code_data,schema=schema_let)

In [0]:
leet_df.show()

+---+----+-----------+
| id|name|refernce_id|
+---+----+-----------+
|  1|Will|       null|
|  2|Jane|       null|
|  3|Alex|          2|
|  4|Bill|       null|
|  5|Zack|          1|
|  6|Mark|          2|
+---+----+-----------+

In [0]:
emp_data = [
(1,'manish',26,20000,'india','IT'),
(2,'rahul',None,40000,'germany','engineering'),
(3,'pawan',12,60000,'india','sales'),
(4,'roshini',44,None,'uk','engineering'),
(5,'raushan',35,70000,'india','sales'),
(6,None,29,200000,'uk','IT'),
(7,'adam',37,65000,'us','IT'),
(8,'chris',16,40000,'us','sales'),
(None,None,None,None,None,None),
(7,'adam',37,65000,'us','IT')
]

emp_schema = ['id','name','age','salary','country','dept']

emp_df = spark.createDataFrame(data=emp_data,schema=emp_schema)

In [0]:
emp_df.show()

+----+-------+----+------+-------+-----------+
|  id|   name| age|salary|country|       dept|
+----+-------+----+------+-------+-----------+
|   1| manish|  26| 20000|  india|         IT|
|   2|  rahul|null| 40000|germany|engineering|
|   3|  pawan|  12| 60000|  india|      sales|
|   4|roshini|  44|  null|     uk|engineering|
|   5|raushan|  35| 70000|  india|      sales|
|   6|   null|  29|200000|     uk|         IT|
|   7|   adam|  37| 65000|     us|         IT|
|   8|  chris|  16| 40000|     us|      sales|
|null|   null|null|  null|   null|       null|
|   7|   adam|  37| 65000|     us|         IT|
+----+-------+----+------+-------+-----------+

In [0]:
emp_df.count()

Out[3]: 10

In [0]:
emp_df.select(count("name")).show()

+-----------+
|count(name)|
+-----------+
|          8|
+-----------+

In [0]:
emp_df.select(count("id")).show()

+---------+
|count(id)|
+---------+
|        9|
+---------+

In [0]:
emp_df.count()

Out[8]: 10

In [0]:
emp_df.select(count("country")).show()

+--------------+
|count(country)|
+--------------+
|             9|
+--------------+

In [0]:
emp_df.select(count("*")).show()

+--------+
|count(1)|
+--------+
|      10|
+--------+

In [0]:
emp_df.select(sum("salary"),max("salary"),min("salary")).show()

+-----------+-----------+-----------+
|sum(salary)|max(salary)|min(salary)|
+-----------+-----------+-----------+
|     560000|     200000|      20000|
+-----------+-----------+-----------+

In [0]:
emp_df.select(sum("salary").alias("tot_sal"),max("salary").alias("max_sal"),min("salary").alias("min_sal")).show()

+-------+-------+-------+
|tot_sal|max_sal|min_sal|
+-------+-------+-------+
| 560000| 200000|  20000|
+-------+-------+-------+

In [0]:
emp_df.select(sum("salary"),count("salary"),avg("salary").cast("int").alias("avg_sal")).show()

+-----------+-------------+-------+
|sum(salary)|count(salary)|avg_sal|
+-----------+-------------+-------+
|     560000|            8|  70000|
+-----------+-------------+-------+

In [0]:

data= [(1,'manish',50000,'IT','india'),
(2,'vikash',60000,'sales','us'),
(3,'raushan',70000,'marketing','india'),
(4,'mukesh',80000,'IT','us'),
(5,'pritam',90000,'sales','india'),
(6,'nikita',45000,'marketing','us'),
(7,'ragini',55000,'marketing','india'),
(8,'rakesh',100000,'IT','us'),
(9,'aditya',65000,'IT','india'),
(10,'rahul',50000,'marketing','us')]

schema = ["id",'name','sal','dept','country']

In [0]:
emp_df = spark.createDataFrame(data=data,schema=schema)

In [0]:
emp_df.show()

+---+-------+------+---------+-------+
| id|   name|   sal|     dept|country|
+---+-------+------+---------+-------+
|  1| manish| 50000|       IT|  india|
|  2| vikash| 60000|    sales|     us|
|  3|raushan| 70000|marketing|  india|
|  4| mukesh| 80000|       IT|     us|
|  5| pritam| 90000|    sales|  india|
|  6| nikita| 45000|marketing|     us|
|  7| ragini| 55000|marketing|  india|
|  8| rakesh|100000|       IT|     us|
|  9| aditya| 65000|       IT|  india|
| 10|  rahul| 50000|marketing|     us|
+---+-------+------+---------+-------+

In [0]:
emp_df.groupBy("dept")\
.agg(sum("sal")).show()

+---------+--------+
|     dept|sum(sal)|
+---------+--------+
|       IT|  295000|
|    sales|  150000|
|marketing|  220000|
+---------+--------+

In [0]:
emp_df.createOrReplaceTempView("tab1")

In [0]:
spark.sql("""
          select dept,sum("sal")
          from tab1
          group by dept 
          """).show()

+---------+--------+
|     dept|sum(sal)|
+---------+--------+
|       IT|    null|
|    sales|    null|
|marketing|    null|
+---------+--------+

In [0]:
customer_data = [(1,'manish','patna',"30-05-2022"),
(2,'vikash','kolkata',"12-03-2023"),
(3,'nikita','delhi',"25-06-2023"),
(4,'rahul','ranchi',"24-03-2023"),
(5,'mahesh','jaipur',"22-03-2023"),
(6,'prantosh','kolkata',"18-10-2022"),
(7,'raman','patna',"30-12-2022"),
(8,'prakash','ranchi',"24-02-2023"),
(9,'ragini','kolkata',"03-03-2023"),
(10,'raushan','jaipur',"05-02-2023")]

customer_schema=['customer_id','customer_name','address','date_of_joining']


customer_df = spark.createDataFrame(data=customer_data,schema=customer_schema)

sales_data = [(1,22,10,"01-06-2022"),
(1,27,5,"03-02-2023"),
(2,5,3,"01-06-2023"),
(5,22,1,"22-03-2023"),
(7,22,4,"03-02-2023"),
(9,5,6,"03-03-2023"),
(2,1,12,"15-06-2023"),
(1,56,2,"25-06-2023"),
(5,12,5,"15-04-2023"),
(11,12,76,"12-03-2023")]

sales_schema=['customer_id','product_id','quantity','date_of_purchase']


sales_df = spark.createDataFrame(data=sales_data,schema=sales_schema)

product_data = [(1, 'fanta',20),
(2, 'dew',22),
(5, 'sprite',40),
(7, 'redbull',100),
(12,'mazza',45),
(22,'coke',27),
(25,'limca',21),
(27,'pepsi',14),
(56,'sting',10)]

product_schema=['id','name','price']

product_df = spark.createDataFrame(data=product_data,schema=product_schema)

In [0]:
customer_df.show()
sales_df.show()
product_df.show()

+-----------+-------------+-------+---------------+
|customer_id|customer_name|address|date_of_joining|
+-----------+-------------+-------+---------------+
|          1|       manish|  patna|     30-05-2022|
|          2|       vikash|kolkata|     12-03-2023|
|          3|       nikita|  delhi|     25-06-2023|
|          4|        rahul| ranchi|     24-03-2023|
|          5|       mahesh| jaipur|     22-03-2023|
|          6|     prantosh|kolkata|     18-10-2022|
|          7|        raman|  patna|     30-12-2022|
|          8|      prakash| ranchi|     24-02-2023|
|          9|       ragini|kolkata|     03-03-2023|
|         10|      raushan| jaipur|     05-02-2023|
+-----------+-------------+-------+---------------+

+-----------+----------+--------+----------------+
|customer_id|product_id|quantity|date_of_purchase|
+-----------+----------+--------+----------------+
|          1|        22|      10|      01-06-2022|
|          1|        27|       5|      03-02-2023|
|          2|         5|       3|      01-06-2023|
|          5|        22|       1|      22-03-2023|
|          7|        22|       4|      03-02-2023|
|          9|         5|       6|      03-03-2023|
|          2|         1|      12|      15-06-2023|
|          1|        56|       2|      25-06-2023|
|          5|        12|       5|      15-04-2023|
|         11|        12|      76|      12-03-2023|
+-----------+----------+--------+----------------+

+---+-------+-----+
| id|   name|price|
+---+-------+-----+
|  1|  fanta|   20|
|  2|    dew|   22|
|  5| sprite|   40|
|  7|redbull|  100|
| 12|  mazza|   45|
| 22|   coke|   27|
| 25|  limca|   21|
| 27|  pepsi|   14|
| 56|  sting|   10|
+---+-------+-----+

In [0]:
from spark.sql.functions import *

---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
File <command-4292744384079557>:1
----> 1 from spark.sql.functions import *

File /databricks/python_shell/dbruntime/PythonPackageImportsInstrumentation/__init__.py:171, in _create_import_patch.<locals>.import_patch(name, globals, locals, fromlist, level)
    166 thread_local._nest_level += 1
    168 try:
    169     # Import the desired module. If you’re seeing this while debugging a failed import,
    170     # look at preceding stack frames for relevant error information.
--> 171     original_result = python_builtin_import(name, globals, locals, fromlist, level)
    173     is_root_import = thread_local._nest_level == 1
    174     # `level` represents the number of leading dots in a relative import statement.
    175     # If it's zero, then this is an absolute import.

ModuleNotFoundError: No module named 'spark'

In [0]:
from pyspark.sql.functions import * 
from pyspark.sql.types import *

In [0]:
customer_df.join(sales_df,sales_df["customer_id"]==customer_df["customer_id"],"inner").show()

+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|customer_id|customer_name|address|date_of_joining|customer_id|product_id|quantity|date_of_purchase|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|          1|       manish|  patna|     30-05-2022|          1|        22|      10|      01-06-2022|
|          1|       manish|  patna|     30-05-2022|          1|        27|       5|      03-02-2023|
|          1|       manish|  patna|     30-05-2022|          1|        56|       2|      25-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         5|       3|      01-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         1|      12|      15-06-2023|
|          5|       mahesh| jaipur|     22-03-2023|          5|        22|       1|      22-03-2023|
|          5|       mahesh| jaipur|     22-03-2023|          5|        12|       5|      15-04-2023|
|          7|        raman|  patna|     30-12-2022|          7|        22|       4|      03-02-2023|
|          9|       ragini|kolkata|     03-03-2023|          9|         5|       6|      03-03-2023|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+

In [0]:
customer_df.join(sales_df,sales_df["customer_id"]==customer_df["customer_id"],"inner")\
    .select(sales_df["customer_id"]).show()

+-----------+
|customer_id|
+-----------+
|          1|
|          1|
|          1|
|          2|
|          2|
|          5|
|          5|
|          7|
|          9|
+-----------+

In [0]:
customer_df.join(sales_df,sales_df["customer_id"]==customer_df["customer_id"],"inner")\
    .select(sales_df["product_id"]).sort("product_id").show()

+----------+
|product_id|
+----------+
|         1|
|         5|
|         5|
|        12|
|        22|
|        22|
|        22|
|        27|
|        56|
+----------+

In [0]:
product_df.show()

+---+-------+-----+
| id|   name|price|
+---+-------+-----+
|  1|  fanta|   20|
|  2|    dew|   22|
|  5| sprite|   40|
|  7|redbull|  100|
| 12|  mazza|   45|
| 22|   coke|   27|
| 25|  limca|   21|
| 27|  pepsi|   14|
| 56|  sting|   10|
+---+-------+-----+

In [0]:
customer_df.join(sales_df,(sales_df["customer_id"]==customer_df["customer_id"])& (sales_df["product_id"]==customer_df["product_id"]),"inner")\
    .select(sales_df["product_id"]).sort("product_id").show()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-4292744384079563>:1
----> 1 customer_df.join(sales_df,(sales_df["customer_id"]==customer_df["customer_id"])& (sales_df["product_id"]==customer_df["product_id"]),"inner")\
      2     .select(sales_df["product_id"]).sort("product_id").show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:2918, in DataFrame.__getitem__(self, item)
   2876 """Returns the column as a :class:`Column`.
   2877
   2878 .. versionadded:: 1.3.0
   (...)
   2915 +---+----+
   2916 """
   2917 if isinstance(item, str):
-> 2918     jc = self._jdf.apply(item)
   2919     return Column(jc)
   2920 elif isinstance(item, Column):

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `product_id` cannot be resolved. Did you mean one of the following? [`customer_id`, `customer_name`, `address`, `date_of_joining`].

In [0]:
customer_df.join(sales_df,sales_df["customer_id"]==customer_df["customer_id"],"left").show()

+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|customer_id|customer_name|address|date_of_joining|customer_id|product_id|quantity|date_of_purchase|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|          1|       manish|  patna|     30-05-2022|          1|        56|       2|      25-06-2023|
|          1|       manish|  patna|     30-05-2022|          1|        27|       5|      03-02-2023|
|          1|       manish|  patna|     30-05-2022|          1|        22|      10|      01-06-2022|
|          2|       vikash|kolkata|     12-03-2023|          2|         1|      12|      15-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         5|       3|      01-06-2023|
|          3|       nikita|  delhi|     25-06-2023|       null|      null|    null|            null|
|          4|        rahul| ranchi|     24-03-2023|       null|      null|    null|            null|
|          5|       mahesh| jaipur|     22-03-2023|          5|        12|       5|      15-04-2023|
|          5|       mahesh| jaipur|     22-03-2023|          5|        22|       1|      22-03-2023|
|          6|     prantosh|kolkata|     18-10-2022|       null|      null|    null|            null|
|          7|        raman|  patna|     30-12-2022|          7|        22|       4|      03-02-2023|
|          8|      prakash| ranchi|     24-02-2023|       null|      null|    null|            null|
|          9|       ragini|kolkata|     03-03-2023|          9|         5|       6|      03-03-2023|
|         10|      raushan| jaipur|     05-02-2023|       null|      null|    null|            null|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+

In [0]:
sales_df.join(product_df,sales_df["product_id"]==product_df["id"],"right").show()

+-----------+----------+--------+----------------+---+-------+-----+
|customer_id|product_id|quantity|date_of_purchase| id|   name|price|
+-----------+----------+--------+----------------+---+-------+-----+
|          2|         1|      12|      15-06-2023|  1|  fanta|   20|
|       null|      null|    null|            null|  2|    dew|   22|
|          9|         5|       6|      03-03-2023|  5| sprite|   40|
|          2|         5|       3|      01-06-2023|  5| sprite|   40|
|       null|      null|    null|            null|  7|redbull|  100|
|         11|        12|      76|      12-03-2023| 12|  mazza|   45|
|          5|        12|       5|      15-04-2023| 12|  mazza|   45|
|          7|        22|       4|      03-02-2023| 22|   coke|   27|
|          5|        22|       1|      22-03-2023| 22|   coke|   27|
|          1|        22|      10|      01-06-2022| 22|   coke|   27|
|       null|      null|    null|            null| 25|  limca|   21|
|          1|        27|       5|      03-02-2023| 27|  pepsi|   14|
|          1|        56|       2|      25-06-2023| 56|  sting|   10|
+-----------+----------+--------+----------------+---+-------+-----+

In [0]:
product_df.join(sales_df,sales_df["product_id"]==product_df["id"],"left").show()

+---+-------+-----+-----------+----------+--------+----------------+
| id|   name|price|customer_id|product_id|quantity|date_of_purchase|
+---+-------+-----+-----------+----------+--------+----------------+
|  1|  fanta|   20|          2|         1|      12|      15-06-2023|
|  2|    dew|   22|       null|      null|    null|            null|
|  5| sprite|   40|          9|         5|       6|      03-03-2023|
|  5| sprite|   40|          2|         5|       3|      01-06-2023|
|  7|redbull|  100|       null|      null|    null|            null|
| 12|  mazza|   45|         11|        12|      76|      12-03-2023|
| 12|  mazza|   45|          5|        12|       5|      15-04-2023|
| 22|   coke|   27|          7|        22|       4|      03-02-2023|
| 22|   coke|   27|          5|        22|       1|      22-03-2023|
| 22|   coke|   27|          1|        22|      10|      01-06-2022|
| 25|  limca|   21|       null|      null|    null|            null|
| 27|  pepsi|   14|          1|        27|       5|      03-02-2023|
| 56|  sting|   10|          1|        56|       2|      25-06-2023|
+---+-------+-----+-----------+----------+--------+----------------+

In [0]:
customer_df.join(sales_df,sales_df["customer_id"]==customer_df["customer_id"],"outer").show()

+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|customer_id|customer_name|address|date_of_joining|customer_id|product_id|quantity|date_of_purchase|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|          1|       manish|  patna|     30-05-2022|          1|        22|      10|      01-06-2022|
|          1|       manish|  patna|     30-05-2022|          1|        27|       5|      03-02-2023|
|          1|       manish|  patna|     30-05-2022|          1|        56|       2|      25-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         5|       3|      01-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         1|      12|      15-06-2023|
|          3|       nikita|  delhi|     25-06-2023|       null|      null|    null|            null|
|          4|        rahul| ranchi|     24-03-2023|       null|      null|    null|            null|
|          5|       mahesh| jaipur|     22-03-2023|          5|        22|       1|      22-03-2023|
|          5|       mahesh| jaipur|     22-03-2023|          5|        12|       5|      15-04-2023|
|          6|     prantosh|kolkata|     18-10-2022|       null|      null|    null|            null|
|          7|        raman|  patna|     30-12-2022|          7|        22|       4|      03-02-2023|
|          8|      prakash| ranchi|     24-02-2023|       null|      null|    null|            null|
|          9|       ragini|kolkata|     03-03-2023|          9|         5|       6|      03-03-2023|
|         10|      raushan| jaipur|     05-02-2023|       null|      null|    null|            null|
|       null|         null|   null|           null|         11|        12|      76|      12-03-2023|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+

In [0]:
customer_df.join(sales_df,sales_df["customer_id"]==customer_df["customer_id"],"left_semi").show()

+-----------+-------------+-------+---------------+
|customer_id|customer_name|address|date_of_joining|
+-----------+-------------+-------+---------------+
|          1|       manish|  patna|     30-05-2022|
|          2|       vikash|kolkata|     12-03-2023|
|          5|       mahesh| jaipur|     22-03-2023|
|          7|        raman|  patna|     30-12-2022|
|          9|       ragini|kolkata|     03-03-2023|
+-----------+-------------+-------+---------------+

In [0]:
customer_df.join(sales_df,sales_df["customer_id"]==customer_df["customer_id"],"left_anti").show()

+-----------+-------------+-------+---------------+
|customer_id|customer_name|address|date_of_joining|
+-----------+-------------+-------+---------------+
|          3|       nikita|  delhi|     25-06-2023|
|          4|        rahul| ranchi|     24-03-2023|
|          6|     prantosh|kolkata|     18-10-2022|
|          8|      prakash| ranchi|     24-02-2023|
|         10|      raushan| jaipur|     05-02-2023|
+-----------+-------------+-------+---------------+

In [0]:
customer_df.join(sales_df,sales_df["customer_id"]==customer_df["customer_id"],"left").show()

+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|customer_id|customer_name|address|date_of_joining|customer_id|product_id|quantity|date_of_purchase|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|          1|       manish|  patna|     30-05-2022|          1|        56|       2|      25-06-2023|
|          1|       manish|  patna|     30-05-2022|          1|        27|       5|      03-02-2023|
|          1|       manish|  patna|     30-05-2022|          1|        22|      10|      01-06-2022|
|          2|       vikash|kolkata|     12-03-2023|          2|         1|      12|      15-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         5|       3|      01-06-2023|
|          3|       nikita|  delhi|     25-06-2023|       null|      null|    null|            null|
|          5|       mahesh| jaipur|     22-03-2023|          5|        12|       5|      15-04-2023|
|          5|       mahesh| jaipur|     22-03-2023|          5|        22|       1|      22-03-2023|
|          4|        rahul| ranchi|     24-03-2023|       null|      null|    null|            null|
|          6|     prantosh|kolkata|     18-10-2022|       null|      null|    null|            null|
|          7|        raman|  patna|     30-12-2022|          7|        22|       4|      03-02-2023|
|          8|      prakash| ranchi|     24-02-2023|       null|      null|    null|            null|
|          9|       ragini|kolkata|     03-03-2023|          9|         5|       6|      03-03-2023|
|         10|      raushan| jaipur|     05-02-2023|       null|      null|    null|            null|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+

In [0]:
customer_df.crossJoin(sales_df).count()

Out[16]: 100

In [0]:
customer_df.count()

Out[17]: 10

In [0]:
sales_df.count()

Out[18]: 10

In [0]:
emp_data = [(1,'manish',50000,'IT','m'),
(2,'vikash',60000,'sales','m'),
(3,'raushan',70000,'marketing','m'),
(4,'mukesh',80000,'IT','m'),
(5,'priti',90000,'sales','f'),
(6,'nikita',45000,'marketing','f'),
(7,'ragini',55000,'marketing','f'),
(8,'rashi',100000,'IT','f'),
(9,'aditya',65000,'IT','m'),
(10,'rahul',50000,'marketing','m'),
(11,'rakhi',50000,'IT','f'),
(12,'akhilesh',90000,'sales','m')]

emp_schema = ['id','name','sal','dept','gender']

emp_df = spark.createDataFrame(data=emp_data,schema=emp_schema)

In [0]:
emp_df.show()

+---+--------+------+---------+------+
| id|    name|   sal|     dept|gender|
+---+--------+------+---------+------+
|  1|  manish| 50000|       IT|     m|
|  2|  vikash| 60000|    sales|     m|
|  3| raushan| 70000|marketing|     m|
|  4|  mukesh| 80000|       IT|     m|
|  5|   priti| 90000|    sales|     f|
|  6|  nikita| 45000|marketing|     f|
|  7|  ragini| 55000|marketing|     f|
|  8|   rashi|100000|       IT|     f|
|  9|  aditya| 65000|       IT|     m|
| 10|   rahul| 50000|marketing|     m|
| 11|   rakhi| 50000|       IT|     f|
| 12|akhilesh| 90000|    sales|     m|
+---+--------+------+---------+------+

In [0]:
from pyspark.sql.window import Window

In [0]:
from pyspark.sql.window import Window

In [0]:
from pyspark.sql.window import *

window = Window.partitionBy("dept").orderBy("sal")

emp_df.withColumn("Rank",rank().over(window))

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-2820696516126158>:5
      1 from pyspark.sql.window import *
      3 window = Window.partitionBy("dept").orderBy("sal")
----> 5 emp_df.withColumn("Rank",rank().over(window))

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:4758, in DataFrame.withColumn(self, colName, col)
   4753 if not isinstance(col, Column):
   4754     raise PySparkTypeError(
   4755         error_class="NOT_A_COLUMN",
   4756         message_parameters={"arg_name": "col", "arg_type": type(col).__name__},
   4757     )
-> 4758 return DataFrame(self._jdf.withColumn(colName, col._jc), self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `sal` cannot be resolved. Did you mean one of the following? [`id`, `name`, `salary`, `dept`, `gender`].;
'Project [id#118L, name#119, salary#120L, gender#122, dept#121, rank() windowspecdefinition(dept#121, 'sal ASC NULLS FIRST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS Rank#218]
+- Project [id#118L, name#119, salary#120L, gender#122, dept#121]
   +- LogicalRDD [id#118L, name#119, salary#120L, dept#121, gender#122], false

In [0]:

product_data = [
(1,"iphone","01-01-2023",1500000),
(2,"samsung","01-01-2023",1100000),
(3,"oneplus","01-01-2023",1100000),
(1,"iphone","01-02-2023",1300000),
(2,"samsung","01-02-2023",1120000),
(3,"oneplus","01-02-2023",1120000),
(1,"iphone","01-03-2023",1600000),
(2,"samsung","01-03-2023",1080000),
(3,"oneplus","01-03-2023",1160000),
(1,"iphone","01-04-2023",1700000),
(2,"samsung","01-04-2023",1800000),
(3,"oneplus","01-04-2023",1170000),
(1,"iphone","01-05-2023",1200000),
(2,"samsung","01-05-2023",980000),
(3,"oneplus","01-05-2023",1175000),
(1,"iphone","01-06-2023",1100000),
(2,"samsung","01-06-2023",1100000),
(3,"oneplus","01-06-2023",1200000)
]

product_schema = ['id','product_name','sales_date','sales']

product_df = spark.createDataFrame(data=product_data,schema=product_schema)

from pyspark.sql.functions import *

emp_data = [(1,'manish',50000,'IT','m'),
(2,'vikash',60000,'sales','m'),
(3,'raushan',70000,'marketing','m'),
(4,'mukesh',80000,'IT','m'),
(5,'priti',90000,'sales','f'),
(6,'nikita',45000,'marketing','f'),
(7,'ragini',55000,'marketing','f'),
(8,'rashi',100000,'IT','f'),
(9,'aditya',65000,'IT','m'),
(10,'rahul',50000,'marketing','m'),
(11,'rakhi',50000,'IT','f'),
(12,'akhilesh',90000,'sales','m')]

emp_schema=['id','name','salary','dept','gender']

emp_df = spark.createDataFrame(data=emp_data,schema=emp_schema)
emp_df = emp_df.select('id','name','salary','gender','dept')
emp_df.show()

+---+--------+------+------+---------+
| id|    name|salary|gender|     dept|
+---+--------+------+------+---------+
|  1|  manish| 50000|     m|       IT|
|  2|  vikash| 60000|     m|    sales|
|  3| raushan| 70000|     m|marketing|
|  4|  mukesh| 80000|     m|       IT|
|  5|   priti| 90000|     f|    sales|
|  6|  nikita| 45000|     f|marketing|
|  7|  ragini| 55000|     f|marketing|
|  8|   rashi|100000|     f|       IT|
|  9|  aditya| 65000|     m|       IT|
| 10|   rahul| 50000|     m|marketing|
| 11|   rakhi| 50000|     f|       IT|
| 12|akhilesh| 90000|     m|    sales|
+---+--------+------+------+---------+

In [0]:
product_df.show()

+---+------------+----------+-------+
| id|product_name|sales_date|  sales|
+---+------------+----------+-------+
|  1|      iphone|01-01-2023|1500000|
|  2|     samsung|01-01-2023|1100000|
|  3|     oneplus|01-01-2023|1100000|
|  1|      iphone|01-02-2023|1300000|
|  2|     samsung|01-02-2023|1120000|
|  3|     oneplus|01-02-2023|1120000|
|  1|      iphone|01-03-2023|1600000|
|  2|     samsung|01-03-2023|1080000|
|  3|     oneplus|01-03-2023|1160000|
|  1|      iphone|01-04-2023|1700000|
|  2|     samsung|01-04-2023|1800000|
|  3|     oneplus|01-04-2023|1170000|
|  1|      iphone|01-05-2023|1200000|
|  2|     samsung|01-05-2023| 980000|
|  3|     oneplus|01-05-2023|1175000|
|  1|      iphone|01-06-2023|1100000|
|  2|     samsung|01-06-2023|1100000|
|  3|     oneplus|01-06-2023|1200000|
+---+------------+----------+-------+

In [0]:
from pyspark.sql.functions import *

In [0]:
from pyspark.sql.window import *

In [0]:
window = Window.partitionBy("id").orderBy("sales_date")

last_month_df = product_df.withColumn("privous_month_sales",lag(col("sales"),1).over(window))

last_month_df.show()

+---+------------+----------+-------+-------------------+
| id|product_name|sales_date|  sales|privous_month_sales|
+---+------------+----------+-------+-------------------+
|  1|      iphone|01-01-2023|1500000|               null|
|  1|      iphone|01-02-2023|1300000|            1500000|
|  1|      iphone|01-03-2023|1600000|            1300000|
|  1|      iphone|01-04-2023|1700000|            1600000|
|  1|      iphone|01-05-2023|1200000|            1700000|
|  1|      iphone|01-06-2023|1100000|            1200000|
|  2|     samsung|01-01-2023|1100000|               null|
|  2|     samsung|01-02-2023|1120000|            1100000|
|  2|     samsung|01-03-2023|1080000|            1120000|
|  2|     samsung|01-04-2023|1800000|            1080000|
|  2|     samsung|01-05-2023| 980000|            1800000|
|  2|     samsung|01-06-2023|1100000|             980000|
|  3|     oneplus|01-01-2023|1100000|               null|
|  3|     oneplus|01-02-2023|1120000|            1100000|
|  3|     oneplus|01-03-2023|1160000|            1120000|
|  3|     oneplus|01-04-2023|1170000|            1160000|
|  3|     oneplus|01-05-2023|1175000|            1170000|
|  3|     oneplus|01-06-2023|1200000|            1175000|
+---+------------+----------+-------+-------------------+

In [0]:
window = Window.partitionBy("id").orderBy("sales_date")

last_month_df = product_df.withColumn("privous_month_sales",lead(col("sales"),1).over(window))

last_month_df.show()

+---+------------+----------+-------+-------------------+
| id|product_name|sales_date|  sales|privous_month_sales|
+---+------------+----------+-------+-------------------+
|  1|      iphone|01-01-2023|1500000|            1300000|
|  1|      iphone|01-02-2023|1300000|            1600000|
|  1|      iphone|01-03-2023|1600000|            1700000|
|  1|      iphone|01-04-2023|1700000|            1200000|
|  1|      iphone|01-05-2023|1200000|            1100000|
|  1|      iphone|01-06-2023|1100000|               null|
|  2|     samsung|01-01-2023|1100000|            1120000|
|  2|     samsung|01-02-2023|1120000|            1080000|
|  2|     samsung|01-03-2023|1080000|            1800000|
|  2|     samsung|01-04-2023|1800000|             980000|
|  2|     samsung|01-05-2023| 980000|            1100000|
|  2|     samsung|01-06-2023|1100000|               null|
|  3|     oneplus|01-01-2023|1100000|            1120000|
|  3|     oneplus|01-02-2023|1120000|            1160000|
|  3|     oneplus|01-03-2023|1160000|            1170000|
|  3|     oneplus|01-04-2023|1170000|            1175000|
|  3|     oneplus|01-05-2023|1175000|            1200000|
|  3|     oneplus|01-06-2023|1200000|               null|
+---+------------+----------+-------+-------------------+

In [0]:
last_month_df.withColumn("per_los_gain",round(((col("sales")-col('privous_month_sales'))/col("sales"))*100,2)).show()

+---+------------+----------+-------+-------------------+------------+
| id|product_name|sales_date|  sales|privous_month_sales|per_los_gain|
+---+------------+----------+-------+-------------------+------------+
|  1|      iphone|01-01-2023|1500000|               null|        null|
|  1|      iphone|01-02-2023|1300000|            1500000|      -15.38|
|  1|      iphone|01-03-2023|1600000|            1300000|       18.75|
|  1|      iphone|01-04-2023|1700000|            1600000|        5.88|
|  1|      iphone|01-05-2023|1200000|            1700000|      -41.67|
|  1|      iphone|01-06-2023|1100000|            1200000|       -9.09|
|  2|     samsung|01-01-2023|1100000|               null|        null|
|  2|     samsung|01-02-2023|1120000|            1100000|        1.79|
|  2|     samsung|01-03-2023|1080000|            1120000|        -3.7|
|  2|     samsung|01-04-2023|1800000|            1080000|        40.0|
|  2|     samsung|01-05-2023| 980000|            1800000|      -83.67|
|  2|     samsung|01-06-2023|1100000|             980000|       10.91|
|  3|     oneplus|01-01-2023|1100000|               null|        null|
|  3|     oneplus|01-02-2023|1120000|            1100000|        1.79|
|  3|     oneplus|01-03-2023|1160000|            1120000|        3.45|
|  3|     oneplus|01-04-2023|1170000|            1160000|        0.85|
|  3|     oneplus|01-05-2023|1175000|            1170000|        0.43|
|  3|     oneplus|01-06-2023|1200000|            1175000|        2.08|
+---+------------+----------+-------+-------------------+------------+

In [0]:
from pyspark.sql.functions import * 
from pyspark.sql.window import * 
from pyspark.sql.types import *

In [0]:
product_data = [
(2,"samsung","01-01-1995",11000),
(1,"iphone","01-02-2023",1300000),
(2,"samsung","01-02-2023",1120000),
(3,"oneplus","01-02-2023",1120000),
(1,"iphone","01-03-2023",1600000),
(2,"samsung","01-03-2023",1080000),
(3,"oneplus","01-03-2023",1160000),
(1,"iphone","01-01-2006",15000),
(1,"iphone","01-04-2023",1700000),
(2,"samsung","01-04-2023",1800000),
(3,"oneplus","01-04-2023",1170000),
(1,"iphone","01-05-2023",1200000),
(2,"samsung","01-05-2023",980000),
(3,"oneplus","01-05-2023",1175000),
(1,"iphone","01-06-2023",1100000),
(3,"oneplus","01-01-2010",23000),
(2,"samsung","01-06-2023",1100000),
(3,"oneplus","01-06-2023",1200000)
]

product_schema=["product_id","product_name","sales_date","sales"]

product_df = spark.createDataFrame(data=product_data,schema=product_schema)

product_df.show()

#Q2.Data:-
emp_data = [(1,"manish","11-07-2023","10:20"),
        (1,"manish","11-07-2023","11:20"),
        (2,"rajesh","11-07-2023","11:20"),
        (1,"manish","11-07-2023","11:50"),
        (2,"rajesh","11-07-2023","13:20"),
        (1,"manish","11-07-2023","19:20"),
        (2,"rajesh","11-07-2023","17:20"),
        (1,"manish","12-07-2023","10:32"),
        (1,"manish","12-07-2023","12:20"),
        (3,"vikash","12-07-2023","09:12"),
        (1,"manish","12-07-2023","16:23"),
        (3,"vikash","12-07-2023","18:08")]

emp_schema = ["id", "name", "date", "time"]
emp_df = spark.createDataFrame(data=emp_data, schema=emp_schema)

emp_df.show()

+----------+------------+----------+-------+
|product_id|product_name|sales_date|  sales|
+----------+------------+----------+-------+
|         2|     samsung|01-01-1995|  11000|
|         1|      iphone|01-02-2023|1300000|
|         2|     samsung|01-02-2023|1120000|
|         3|     oneplus|01-02-2023|1120000|
|         1|      iphone|01-03-2023|1600000|
|         2|     samsung|01-03-2023|1080000|
|         3|     oneplus|01-03-2023|1160000|
|         1|      iphone|01-01-2006|  15000|
|         1|      iphone|01-04-2023|1700000|
|         2|     samsung|01-04-2023|1800000|
|         3|     oneplus|01-04-2023|1170000|
|         1|      iphone|01-05-2023|1200000|
|         2|     samsung|01-05-2023| 980000|
|         3|     oneplus|01-05-2023|1175000|
|         1|      iphone|01-06-2023|1100000|
|         3|     oneplus|01-01-2010|  23000|
|         2|     samsung|01-06-2023|1100000|
|         3|     oneplus|01-06-2023|1200000|
+----------+------------+----------+-------+

+---+------+----------+-----+
| id|  name|      date| time|
+---+------+----------+-----+
|  1|manish|11-07-2023|10:20|
|  1|manish|11-07-2023|11:20|
|  2|rajesh|11-07-2023|11:20|
|  1|manish|11-07-2023|11:50|
|  2|rajesh|11-07-2023|13:20|
|  1|manish|11-07-2023|19:20|
|  2|rajesh|11-07-2023|17:20|
|  1|manish|12-07-2023|10:32|
|  1|manish|12-07-2023|12:20|
|  3|vikash|12-07-2023|09:12|
|  1|manish|12-07-2023|16:23|
|  3|vikash|12-07-2023|18:08|
+---+------+----------+-----+

In [0]:
window = Window.partitionBy("product_id").orderBy("sales_date").rowsBetween(Window.unboundedPreceding,Window.unboundedFollowing)

In [0]:
product_df.withColumn("first_month_sales",first("sales").over(window))\
    .withColumn("latest_month_sales",last("sales").over(window)).show()

+----------+------------+----------+-------+-----------------+------------------+
|product_id|product_name|sales_date|  sales|first_month_sales|latest_month_sales|
+----------+------------+----------+-------+-----------------+------------------+
|         1|      iphone|01-01-2006|  15000|            15000|           1100000|
|         1|      iphone|01-02-2023|1300000|            15000|           1100000|
|         1|      iphone|01-03-2023|1600000|            15000|           1100000|
|         1|      iphone|01-04-2023|1700000|            15000|           1100000|
|         1|      iphone|01-05-2023|1200000|            15000|           1100000|
|         1|      iphone|01-06-2023|1100000|            15000|           1100000|
|         2|     samsung|01-01-1995|  11000|            11000|           1100000|
|         2|     samsung|01-02-2023|1120000|            11000|           1100000|
|         2|     samsung|01-03-2023|1080000|            11000|           1100000|
|         2|     samsung|01-04-2023|1800000|            11000|           1100000|
|         2|     samsung|01-05-2023| 980000|            11000|           1100000|
|         2|     samsung|01-06-2023|1100000|            11000|           1100000|
|         3|     oneplus|01-01-2010|  23000|            23000|           1200000|
|         3|     oneplus|01-02-2023|1120000|            23000|           1200000|
|         3|     oneplus|01-03-2023|1160000|            23000|           1200000|
|         3|     oneplus|01-04-2023|1170000|            23000|           1200000|
|         3|     oneplus|01-05-2023|1175000|            23000|           1200000|
|         3|     oneplus|01-06-2023|1200000|            23000|           1200000|
+----------+------------+----------+-------+-----------------+------------------+

In [0]:
emp_df = emp_df.withColumn("timestamp",from_unixtime(unix_timestamp(expr("CONCAT(DATE,' ',time)"),"dd-MM-yyyy HH:mm")))

In [0]:
emp_df.show()

+---+------+----------+-----+-------------------+
| id|  name|      date| time|          timestamp|
+---+------+----------+-----+-------------------+
|  1|manish|11-07-2023|10:20|2023-07-11 10:20:00|
|  1|manish|11-07-2023|11:20|2023-07-11 11:20:00|
|  2|rajesh|11-07-2023|11:20|2023-07-11 11:20:00|
|  1|manish|11-07-2023|11:50|2023-07-11 11:50:00|
|  2|rajesh|11-07-2023|13:20|2023-07-11 13:20:00|
|  1|manish|11-07-2023|19:20|2023-07-11 19:20:00|
|  2|rajesh|11-07-2023|17:20|2023-07-11 17:20:00|
|  1|manish|12-07-2023|10:32|2023-07-12 10:32:00|
|  1|manish|12-07-2023|12:20|2023-07-12 12:20:00|
|  3|vikash|12-07-2023|09:12|2023-07-12 09:12:00|
|  1|manish|12-07-2023|16:23|2023-07-12 16:23:00|
|  3|vikash|12-07-2023|18:08|2023-07-12 18:08:00|
+---+------+----------+-----+-------------------+

In [0]:
window = Window.partitionBy("id","date").orderBy("date").rowsBetween(Window.unboundedPreceding,Window.unboundedFollowing)

In [0]:
new_df = emp_df.withColumn("login",first("timestamp").over(window))\
    .withColumn("logout",last("timestamp").over(window))\
        .withColumn("login",to_timestamp("logout", "yyyy-MM-dd HH:mm:ss"))\
            .withcolumn("total_time",col("logout")-col("login")).show()

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
File <command-2820696516126173>:1
----> 1 new_df = emp_df.withColumn("login",first("timestamp").over(window))\
      2     .withColumn("logout",last("timestamp").over(window))\
      3         .withColumn("login",to_timestamp("logout", "yyyy-MM-dd HH:mm:ss"))\
      4             .withcolumn("total_time",col("logout")-col("login")).show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:2964, in DataFrame.__getattr__(self, name)
   2934 """Returns the :class:`Column` denoted by ``name``.
   2935
   2936 .. versionadded:: 1.3.0
   (...)
   2961 +---+
   2962 """
   2963 if name not in self.columns:
-> 2964     raise AttributeError(
   2965         "'%s' object has no attribute '%s'" % (self.__class__.__name__, name)
   2966     )
   2967 jc = self._jdf.apply(name)
   2968 return Column(jc)

AttributeError: 'DataFrame' object has no attribute 'withcolumn'

In [0]:
spark

In [0]:
from pyspark.sql.functions import * 
from pyspark.sql.types import *

In [0]:

resturant_json_data = spark.read.format("json")\
    .option("multiline", "true")\
    .option("inferschema", "true")\
    .load("/FileStore/spark/pratical/resturant_json_data.json")

# Print the schema of the loaded DataFrame
#resturant_json_data.printSchema()

# Explode the 'restaurants' column
exploded_df = resturant_json_data.select("*", explode("restaurants").alias("new_res"))\
    .drop("restaurants")\
.establishment_types").alias("est_type_new")).printSchema()
        .select("*","new_res.restaurants.R.res_id",explode("new_re.restaurant.establishment_types").alias("est_type_new")).printSchema()


# Print the schema of the DataFrame after exploding
exploded_df.printSchema()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-4260620663083729>:10
      1 resturant_json_data = spark.read.format("json")\
      2     .option("multiline", "true")\
      3     .option("inferschema", "true")\
      4     .load("/FileStore/spark/pratical/resturant_json_data.json")
      6 # Print the schema of the loaded DataFrame
      7 #resturant_json_data.printSchema()
      8
      9 # Explode the 'restaurants' column
---> 10 exploded_df = resturant_json_data.select("*", explode("restaurants").alias("new_res"))\
     11     .drop("restaurants")\
     12         .select("*","new_res.restaurants.R.res_id",explode("new_res.restaurant.establishment_types").alias("est_type_new")).printSchema()
     15 # Print the schema of the DataFrame after exploding
     16 exploded_df.printSchema()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:3023, in DataFrame.select(self, *cols)
   2978 def select(self, *cols: "ColumnOrName") -> "DataFrame":  # type: ignore[misc]
   2979     """Projects a set of expressions and returns a new :class:`DataFrame`.
   2980
   2981     .. versionadded:: 1.3.0
   (...)
   3021     +-----+---+
   3022     """
-> 3023     jdf = self._jdf.select(self._jcols(*cols))
   3024     return DataFrame(jdf, self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [FIELD_NOT_FOUND] No such struct field `restaurants` in `restaurant`.

In [0]:
res_json_data = spark.read.format("json")\
    .option("multiline","true")\
	.option("inferSchema","true")\
	.load("/FileStore/spark/pratical/resturant_json_data.json")\
	.printSchema()

root
 |-- code: long (nullable = true)
 |-- message: string (nullable = true)
 |-- restaurants: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- restaurant: struct (nullable = true)
 |    |    |    |-- R: struct (nullable = true)
 |    |    |    |    |-- res_id: long (nullable = true)
 |    |    |    |-- apikey: string (nullable = true)
 |    |    |    |-- average_cost_for_two: long (nullable = true)
 |    |    |    |-- cuisines: string (nullable = true)
 |    |    |    |-- currency: string (nullable = true)
 |    |    |    |-- deeplink: string (nullable = true)
 |    |    |    |-- establishment_types: array (nullable = true)
 |    |    |    |    |-- element: string (containsNull = true)
 |    |    |    |-- events_url: string (nullable = true)
 |    |    |    |-- featured_image: string (nullable = true)
 |    |    |    |-- has_online_delivery: long (nullable = true)
 |    |    |    |-- has_table_booking: long (nullable = true)
 |    |    |    |-- id: string (nullable = true)
 |    |    |    |-- is_delivering_now: long (nullable = true)
 |    |    |    |-- location: struct (nullable = true)
 |    |    |    |    |-- address: string (nullable = true)
 |    |    |    |    |-- city: string (nullable = true)
 |    |    |    |    |-- city_id: long (nullable = true)
 |    |    |    |    |-- country_id: long (nullable = true)
 |    |    |    |    |-- latitude: string (nullable = true)
 |    |    |    |    |-- locality: string (nullable = true)
 |    |    |    |    |-- locality_verbose: string (nullable = true)
 |    |    |    |    |-- longitude: string (nullable = true)
 |    |    |    |    |-- zipcode: string (nullable = true)
 |    |    |    |-- menu_url: string (nullable = true)
 |    |    |    |-- name: string (nullable = true)
 |    |    |    |-- offers: array (nullable = true)
 |    |    |    |    |-- element: string (containsNull = true)
 |    |    |    |-- photos_url: string (nullable = true)
 |    |    |    |-- price_range: long (nullable = true)
 |    |    |    |-- switch_to_order_menu: long (nullable = true)
 |    |    |    |-- thumb: string (nullable = true)
 |    |    |    |-- url: string (nullable = true)
 |    |    |    |-- user_rating: struct (nullable = true)
 |    |    |    |    |-- aggregate_rating: string (nullable = true)
 |    |    |    |    |-- rating_color: string (nullable = true)
 |    |    |    |    |-- rating_text: string (nullable = true)
 |    |    |    |    |-- votes: string (nullable = true)
 |-- results_found: long (nullable = true)
 |-- results_shown: long (nullable = true)
 |-- results_start: string (nullable = true)
 |-- status: string (nullable = true)

In [0]:
res_json_data.select("*",explode("restaurants").alias("new_res")).drop("restaurants").printSchema()

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
File <command-2667021414652980>:1
----> 1 res_json_data.select("*",explode("restaurants").alias("new_res")).drop("restaurants").printSchema()

AttributeError: 'NoneType' object has no attribute 'select'

In [0]:
word_json_data = spark.read.format("json")\
    .option("multiline","true")\
	.option("inferSchema","true")\
	.load("/FileStore/spark/pratical/world_bank-1.json")\
	.printSchema()

root
 |-- _id: struct (nullable = true)
 |    |-- $oid: string (nullable = true)
 |-- approvalfy: long (nullable = true)
 |-- board_approval_month: string (nullable = true)
 |-- boardapprovaldate: string (nullable = true)
 |-- borrower: string (nullable = true)
 |-- closingdate: string (nullable = true)
 |-- country_namecode: string (nullable = true)
 |-- countrycode: string (nullable = true)
 |-- countryname: string (nullable = true)
 |-- countryshortname: string (nullable = true)
 |-- docty: string (nullable = true)
 |-- envassesmentcategorycode: string (nullable = true)
 |-- grantamt: long (nullable = true)
 |-- ibrdcommamt: long (nullable = true)
 |-- id: string (nullable = true)
 |-- idacommamt: long (nullable = true)
 |-- impagency: string (nullable = true)
 |-- lendinginstr: string (nullable = true)
 |-- lendinginstrtype: string (nullable = true)
 |-- lendprojectcost: long (nullable = true)
 |-- majorsector_percent: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Percent: long (nullable = true)
 |-- mjsector_namecode: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- code: string (nullable = true)
 |    |    |-- name: string (nullable = true)
 |-- mjtheme: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- mjtheme_namecode: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- code: string (nullable = true)
 |    |    |-- name: string (nullable = true)
 |-- mjthemecode: string (nullable = true)
 |-- prodline: string (nullable = true)
 |-- prodlinetext: string (nullable = true)
 |-- productlinetype: string (nullable = true)
 |-- project_abstract: struct (nullable = true)
 |    |-- cdata: string (nullable = true)
 |-- project_name: string (nullable = true)
 |-- projectdocs: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- DocDate: string (nullable = true)
 |    |    |-- DocType: string (nullable = true)
 |    |    |-- DocTypeDesc: string (nullable = true)
 |    |    |-- DocURL: string (nullable = true)
 |    |    |-- EntityID: string (nullable = true)
 |-- projectfinancialtype: string (nullable = true)
 |-- projectstatusdisplay: string (nullable = true)
 |-- regionname: string (nullable = true)
 |-- sector: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- Name: string (nullable = true)
 |-- sector1: struct (nullable = true)
 |    |-- Name: string (nullable = true)
 |    |-- Percent: long (nullable = true)
 |-- sector2: struct (nullable = true)
 |    |-- Name: string (nullable = true)
 |    |-- Percent: long (nullable = true)
 |-- sector3: struct (nullable = true)
 |    |-- Name: string (nullable = true)
 |    |-- Percent: long (nullable = true)
 |-- sector4: struct (nullable = true)
 |    |-- Name: string (nullable = true)
 |    |-- Percent: long (nullable = true)
 |-- sector_namecode: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- code: string (nullable = true)
 |    |    |-- name: string (nullable = true)
 |-- sectorcode: string (nullable = true)
 |-- source: string (nullable = true)
 |-- status: string (nullable = true)
 |-- supplementprojectflg: string (nullable = true)
 |-- theme1: struct (nullable = true)
 |    |-- Name: string (nullable = true)
 |    |-- Percent: long (nullable = true)
 |-- theme_namecode: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- code: string (nullable = true)
 |    |    |-- name: string (nullable = true)
 |-- themecode: string (nullable = true)
 |-- totalamt: long (nullable = true)
 |-- totalcommamt: long (nullable = true)
 |-- url: string (nullable = true)

In [0]:
word_json_data.select(".",explode("id").alias("w_id")).printschema()

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
File <command-4260620663083727>:1
----> 1 word_json_data.select(".",explode("id").alias("w_id")).printschema()

AttributeError: 'NoneType' object has no attribute 'select'

In [0]:
from pyspark.sql.types import *
from pyspark.sql.functions import * 
from pyspark.sql.window import Window

In [0]:
customer_dim_data = [

(1,'manish','arwal','india','N','2022-09-15','2022-09-25'),
(2,'vikash','patna','india','Y','2023-08-12',None),
(3,'nikita','delhi','india','Y','2023-09-10',None),
(4,'rakesh','jaipur','india','Y','2023-06-10',None),
(5,'ayush','NY','USA','Y','2023-06-10',None),
(1,'manish','gurgaon','india','Y','2022-09-25',None),
]

customer_schema= ['id','name','city','country','active','effective_start_date','effective_end_date']

customer_dim_df = spark.createDataFrame(data= customer_dim_data,schema=customer_schema)

sales_data = [

(1,1,'manish','2023-01-16','gurgaon','india',380),
(77,1,'manish','2023-03-11','bangalore','india',300),
(12,3,'nikita','2023-09-20','delhi','india',127),
(54,4,'rakesh','2023-08-10','jaipur','india',321),
(65,5,'ayush','2023-09-07','mosco','russia',765),
(89,6,'rajat','2023-08-10','jaipur','india',321)
]

sales_schema = ['sales_id', 'customer_id','customer_name', 'sales_date', 'food_delivery_address','food_delivery_country', 'food_cost']

sales_df = spark.createDataFrame(data=sales_data,schema=sales_schema)

In [0]:
sales_df.show()

+--------+-----------+-------------+----------+---------------------+---------------------+---------+
|sales_id|customer_id|customer_name|sales_date|food_delivery_address|food_delivery_country|food_cost|
+--------+-----------+-------------+----------+---------------------+---------------------+---------+
|       1|          1|       manish|2023-01-16|              gurgaon|                india|      380|
|      77|          1|       manish|2023-03-11|            bangalore|                india|      300|
|      12|          3|       nikita|2023-09-20|                delhi|                india|      127|
|      54|          4|       rakesh|2023-08-10|               jaipur|                india|      321|
|      65|          5|        ayush|2023-09-07|                mosco|               russia|      765|
|      89|          6|        rajat|2023-08-10|               jaipur|                india|      321|
+--------+-----------+-------------+----------+---------------------+---------------------+---------+

In [0]:
customer_dim_df.show()

+---+------+-------+-------+------+--------------------+------------------+
| id|  name|   city|country|active|effective_start_date|effective_end_date|
+---+------+-------+-------+------+--------------------+------------------+
|  1|manish|  arwal|  india|     N|          2022-09-15|        2022-09-25|
|  2|vikash|  patna|  india|     Y|          2023-08-12|              null|
|  3|nikita|  delhi|  india|     Y|          2023-09-10|              null|
|  4|rakesh| jaipur|  india|     Y|          2023-06-10|              null|
|  5| ayush|     NY|    USA|     Y|          2023-06-10|              null|
|  1|manish|gurgaon|  india|     Y|          2022-09-25|              null|
+---+------+-------+-------+------+--------------------+------------------+

In [0]:
join_data = customer_dim_df.join(sales_df,customer_dim_df["id"]==sales_df["customer_id"],"left")

In [0]:
display(join_data)

id,name,city,country,active,effective_start_date,effective_end_date,sales_id,customer_id,customer_name,sales_date,food_delivery_address,food_delivery_country,food_cost
1,manish,arwal,india,N,2022-09-15,2022-09-25,77,1,manish,2023-03-11,bangalore,india,300
1,manish,arwal,india,N,2022-09-15,2022-09-25,1,1,manish,2023-01-16,gurgaon,india,380
2,vikash,patna,india,Y,2023-08-12,null,null,null,null,null,null,null,null
3,nikita,delhi,india,Y,2023-09-10,null,12,3,nikita,2023-09-20,delhi,india,127
4,rakesh,jaipur,india,Y,2023-06-10,null,54,4,rakesh,2023-08-10,jaipur,india,321
5,ayush,NY,USA,Y,2023-06-10,null,65,5,ayush,2023-09-07,mosco,russia,765
1,manish,gurgaon,india,Y,2022-09-25,null,77,1,manish,2023-03-11,bangalore,india,300
1,manish,gurgaon,india,Y,2022-09-25,null,1,1,manish,2023-01-16,gurgaon,india,380

In [0]:
old_records = join_data.where(
    (col("food_delivery_address") != col("city")) & (col("active")=="Y"))\
        .withColumn("active",lit("N"))\
            .withColumn("effective_start_date",col("sales_date"))\
                .select("customer_id",
                        "customer_name",
                        "city",
                        "food_delivery_address",
                        "active",
                        "effective_start_date",
                        "effective_end_date"
)
old_records.show()

+-----------+-------------+-------+---------------------+------+--------------------+------------------+
|customer_id|customer_name|   city|food_delivery_address|active|effective_start_date|effective_end_date|
+-----------+-------------+-------+---------------------+------+--------------------+------------------+
|          1|       manish|gurgaon|            bangalore|     N|          2023-03-11|              null|
|          5|        ayush|     NY|                mosco|     N|          2023-09-07|              null|
+-----------+-------------+-------+---------------------+------+--------------------+------------------+